.part_hps{
    width: 95%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 60px;
}
.rew_punish_ct{
    width: 100%;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
    border-radius: 10px;
}
.rew_ct{
    width: 97%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 25px;
}
.rew_ct_one{
    float: left;
}

.rew_ct_one >h3{
    width: 100%;
    float: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2E3467;
    margin-bottom: 3px;
}
.border{
    padding: 6px 10px 6px 15px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    color: #68798B;
    cursor: pointer;
    display: inline-block;
    background: #D0EAE7;
}
.rew_ct_one >p{
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 18px;
    color: #68798B;
}
.rew_ct_tow{
    text-align: left;
    float: right;
}
.selection{
    margin-right: 10px;
}
.button{
    padding: 7px 20px;
    background: #4c5bd4;
    color: #fff;
    height: 32px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 10px;
}
.punish_ct{
    width: 97%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.modal_header{
    background: #4C5BD4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px 8px 0px 0px;
    height: 47px;
    position: relative;
}
.span{
    font-size: 18px;
    color: #fff;
    line-height: 50px;
    padding-left: 20px;
}
.modal_hd_pus{
    width: 40%;
    margin-left: 5%;
}
.modal_body{
    width: 100%;
}
.form_group{
    argin-bottom: 10px;
    width: 100%;
}
.form_reward{
    padding-right: 25px;
    border-right: 1px dashed #999999;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}
.form_group > label{
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    margin-bottom: 4px;
}
.form_group > input{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.form_group_group{
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.modal{
    width: 700px;
}
.radio_span >span{
    font-size: 16px;
    color: #666666;
}
.button_all{
    width: 100%;
    padding: 11px 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #4C5BD4;
    border-radius: 5px;
    outline: 0;
    margin-top: 15px;
    border: 0;
}
.box_info_rew{
    width: 52%;
    margin-right: 3%;
    padding-left: 25px;
    box-sizing: border-box;
    margin-top: 40px;
}
.punish_ct_tb{
    display: block;
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    display: table;
}
.thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}
.thead >tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-collapse: collapse;
}
.thead >tr >th{
    padding-left: 20px;
    text-align: left;
    background: #4C5BD4;
    padding-top: 26px;
    padding-bottom: 13px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
}
.table > tbody{
    border-left: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-collapse: collapse;
}
.custom_container{
    display: inline-flex;
    align-items: center;
    background-color: #EDEFFB;;
    border-radius: 10px;
    padding: 4px 8px;
}
.custom_icon{
    margin-right: 5px;
    margin-top: 3px;
}
.custom_container > span{
    border-radius: 20px;
    font-size: 15px;
    position: relative;
    color: #68798B;
    cursor: pointer;
    display: inline-block;
}

.xuat_excel >p{
    margin-right: 10px;
    float: left;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 10px 32px 10px 60px;
    background: #4C5BD4;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-left: 35px;
    margin-top: 20px;

}

.xuat_excel >p::after{
    content: "";
    float: left;
    position: absolute;
    left: 30px;
    width: 20px;
    height: 20px;
    top: 7px;
    background: url('https://tinhluong.timviec365.vn/img/excel2.png')no-repeat;
}
.video {
    padding-top: 30px;
    padding-bottom: 70px;
    margin: auto;
}
.yellow{
    padding: 6px 10px 6px 15px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    color: #68798B;
    cursor: pointer;
    display: inline-block;
    background: #FFECEC;
}
.render {
    display: flex;
    gap: 20px;
}
.p_style {
    font-size: 15px;
    line-height: 18px;
    color: #4c5bd4;
    text-align: center;
}
.text1 {
    font-size: 15px;
    line-height: 18px;
    color: #68798B;
}
.formContainer {
    display: flex;
    align-items: center;
}
.formItem{
    margin-right: 10px;
}
.p_color{
    padding: 14px 0px;
    font-size: 15px;
    line-height: 18px;
    color: #666666;
}