.container{
    
}
.box{
    padding: 40px 60px;
}
.filter_area_box{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 15px 20px;
    background: #fff;
    margin-bottom: 20px;
}
.filter_area_list:first-child{
    margin-bottom: 15px;
}
.filter_area_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.filter_area_24{
    width: 24%;
    height: 40px;
    overflow: visible!important;
}
.filter_area_23_5{
    width: 23.5%;
    height: 40px;
    overflow: visible!important;
}
.top_btn{
    position: relative;
    background-color: #4c5bd4;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    justify-content: center;
    padding-left: 10px;
}
.search_icon{
    left: 30%;
    position: absolute;
}
.tab_content{
    background: #fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
}
.tab_items{

}
.link_record{
    color: #474747;
    text-decoration: none;
}
.tab_infor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 26px;
    padding-top: 29px;
    border-bottom: 1px dashed #999999;
}
.infor_name{
    width: 50%;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
}
.infor_name span {
    font-weight: 400;
    font-size: 16px;
}
.infor_date{
    color: #474747;
    width: 15%;
    justify-content: center;
    text-align: center;
}
.infor_btn{
    display: flex;
    width: 15%;
    justify-content: center;
}
.filter_area_box{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 15px 20px;
    background: #fff;
    margin-bottom: 20px;
}
.filter_area_list:first-child{
    margin-bottom: 15px;
}
.filter_area_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 900px) {
    .box{
        padding: 40px 20px;
    }
    .list_tab{
        width: 1053px;
    }
    .box_list{
        width: 100%;
        overflow-x: scroll;
    }
    .filter_area_list{
        flex-direction: column;
    }
    .filter_area_24{
        width: 100%;
        overflow: visible!important;
    }
    .filter_area_23_5{
        width: 100%;
        overflow: visible!important;
        margin-bottom: 5px;
    }
}