.main {
  margin-right: 370px;
  margin-left: 360px;
  margin-top: 80px;
}

/* responsive */
@media screen and (max-width: 1669px) {
  .main {
    margin-right: 100px;
    margin-left: 100px;
  }
}

/* 1366px */
@media screen and (max-width: 1366px) {
  .main {
    margin-right: 83px;
    margin-left: 83px;
  }
}
