.day_top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.incoming_text_top:first-child {
  width: 30%;
  height: 48px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
}

.incoming_text_top_input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 30px;
  border-right: 1px solid rgba(71, 71, 71, 0.38);
  font-size: 16px;
  caret-color: transparent;
}

.incoming_text_top_selectList {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 8px;
  padding-right: 20px;
  border-right: 1px solid rgba(71, 71, 71, 0.38);
  font-size: 16px;
  caret-color: transparent;
}

.incoming_text_top_input:first-child {
  caret-color: auto;
}

.incoming_text_top {
  width: 20%;
  height: 48px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.incoming_text_top_select {
  position: relative;
  width: 16%;
  height: 48px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.incoming_text_top_select .btn_select {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: unset;
  border: none;
  outline: none;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #474747;
  font-size: 16px;
}

.incoming_text_top_select .img_select {
  position: absolute;
  right: 20px;
  width: 15px;
  height: 10px;
}

.search_box {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: #474747;
  background-color: #fff;
  z-index: 9998;
  padding: 0 10px 0 0;
  box-shadow: 3px 3px 3px rgba(47, 47, 47, 0.5);
  display: none;
}

.active_search_element {
  background-image: url(../../../../public/icon/V_search.png);
  background-position: 8% 50%;
  background-repeat: no-repeat;
  background-size: 19px 19px;
}

.show {
  display: block;
  width: 105%;
}

.search_box .search_item {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.incoming_text_top_btn {
  width: 14%;
}

.incoming_text_top_btn .btn_search {
  position: relative;
  background-color: #4c5bd4;
  border: none;
  outline: none;
  width: 154px;
  height: 48px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding-left: 20px;
}

.incoming_text_top_btn .btn_img {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 25px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .incoming_text_top_input {
    font-size: 16px;
  }

  .show {
    width: 110%;
  }

  .search_box .search_item {
    width: 115%;
  }

  .active_search_element {
    background-position: 10% 50%;
  }
}

@media (max-width: 768px) {
  .incoming_text_top_input,
  .search_choose,
  .incoming_text_top_select .btn_select {
    font-size: 16px;
  }

  .show {
    width: 140%;
  }

  .search_box .search_item {
    width: 120%;
  }

  .active_search_element {
    background-size: 14px 14px;
    background-position: 8% 50%;
  }
}

@media (max-width: 481px) {
  .incoming_text_top:first-child {
    width: 40%;
  }

  .incoming_text_top_input {
    padding-left: 6px;
    font-size: 12px;
  }

  .incoming_text_top_select {
    width: 30%;
  }

  .incoming_text_top_select .btn_select {
    font-size: 16px;
  }

  .incoming_text_top_select .img_select {
    right: 10px;
  }

  .incoming_text_top_select .btn_select,
  .search_choose {
    font-size: 12px;
  }

  .incoming_text_top_btn .btn_search {
    width: 100%;
  }

  .incoming_text_top_btn .btn_img {
    top: 18px;
    left: 15px;
  }

  .incoming_text_top_btn span {
    display: none;
  }

  .active_search_element {
    background-size: 12px 12px;
    background-position: 8% 50%;
  }
}
