.page {
    display: flex;
    justify-content: right;
}

.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

.side_bar {
    background-color: #fff;
    height: 100px;
    width: 22%;
}

.general_management {
    width: 100%;
    min-height: 900px;
    height: auto;
    border-radius: 0 25px 25px 0;
    background-color: #4c5bd4;
}

.profile {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid #FFFFFF;
}

.profile img {
    border-radius: 50%;
    object-fit: cover;
}

.profile_content {
    margin-left: 10px;
}


.profile_content p {
    font-size: 16px;
    color: #fff;
}

.force_overflow {
    min-height: 450px;
}

#style-1::-webkit-scrollbar {
    background-color: #F5F5F5;
}

.main_right {
    width: 78%;
    height: auto;
}



@media (max-width: 1024px) and (min-width: 769px) {
    .general_management {
        width: 267px;
        padding: 0 5px;
    }
}

@media (max-width: 1024px) {
    .main_right {
        width: 100%;
    }

    .side_bar {
        position: absolute;
        top: 60px;
        left: 0;
        display: none;
        animation: .3s;
        z-index: 99999;
        background-color: unset;
    }

    .visible {
        display: block !important;
    }

}

@media (max-width: 768px) {
    .side_bar {
        position: absolute;
        top: 92px;
        left: 0;
        display: none;
        z-index: 99999;
        animation: left-0-300 .3s;
        background-color: unset;
    }

    .general_management {
        width: 267px;
        padding: 0 13px;
    }
}

/* @media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }
} */


/* 
xs
<576px	
sm
≥576px	
md
≥768px	
lg
≥992px	
xl
≥1200px	
xxl
≥1400px */