.chiTietThuong{
    position: relative;
}
.exit{
  position: absolute;
  right:-7px;
  top:-7px;
}
.actionGroup {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .divider {
      width: 2px;
      height: 30px;
      background-color: grey;
      margin: 0px 10px;
    }
  }
@media screen and (max-width:414px) {
  .chiTietThuong{
    max-width: 380px;
  }
}