.overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal_setting {
    padding-right: 2px;
  }
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  .contentquytrinh {
    width: 500px;
    height: auto;
    border-radius: 8px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .modal_content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
  }
  .contentdel {
  }
  .modal_header {
    border: none;
    padding: 15px;
  }
.close {
  position: absolute;
    /* display: flex; */
    margin-left: 90%;
    background-color: transparent;
    border: none;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  /* body quy trình */
  .l_modal_body {
    display: flex;
    justify-content: center;
}
.modal_body {
    position: relative;
    padding: 15px;
}
.l_text_modal_success {
  font-size: 18px;
  font-weight: 600;
  
}
.l_modal_footer {
  padding: 15px 15px 30px;
  
}

.l_btn_logout {
  padding: 5px 20px;
  border: none;
  background: #27AE60;
  border-radius: 8px;
  color: white;
    margin: 0 5px;
    font-weight: 600;
}
.modal_footer {
  text-align: center;
}
  @media (max-width: 770px) {
    .contentquytrinh {
      width: 500px;
    }
  }
  
  @media (max-width: 620px) {
    .contentquytrinh {
      width: 75%;
    }
  }
  