/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    transition: width 2s, height 4s;
}

.panel_active {
    display: block;
    transition: height 4s;
}

/*  */
.block_document {
    width: 100%;
    height: 100%;
    padding: 7px 15px;
    color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.block_document:hover {
    cursor: pointer;
    background: #3b46a0;
}

.block_document .img {
    margin-right: 10px;
    width: 35px;
    height: 32px;
    object-fit: contain;
}

.block_document p {
    font-size: 16px;
    font-family: 'Roboto-Bold', sans-serif;
    /* font-family: Roboto-Bold, sans-serif; */
}

.block_document .img_down {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 14px;
    height: 8px;
    transition: all .8s;
}

.block_document .img_top {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 14px;
    height: 8px;
    transform: rotate(180deg);
}

.list_none {
    display: none;
    height: 0;
    transition: height 4s;
}

.list_block {
    display: block;
    height: auto;
    transition: height 4s;
}

.sub_menu {
    max-height: 0px;
    transition: max-height .8s ease-in-out;
    overflow: hidden;
}

.sub_menu_active {
    max-height: 400px;
    display: block;
}