.incoming_doc_table {
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 15px 15px 0px 0px;
}

.table {
    width: 100%;
    display: block;
}

.table .table_row {
    clear: both;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.table .row_color {
    color: #474747;
    background-color: #fff;
    font-size: 14px;
    height: 85px;
}

.table .table_top {
    background-color: #4c5bd4;
    height: 85px;
    color: #fff;
    border-radius: 15px 15px 0px 0px;
}

.table .table_element:first-child {
    width: 50px;
}

.table .table_element {
    position: relative;
    width: calc(100% / 7 - 10px);
    margin: 0px 5px;
    font-size: 16px;
    text-align: center;
}

.size_16 {
    font-size: 16px;
}

.table_row .size_14 {
    font-size: 14px;
}

.text_xanh_kochan {
    color: #4c5bd4;
}

.congty {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.table_btn {
    border: none;
    outline: none;
    background-color: #fff;
}

.table_btn img {
    /* width: 100%;
    height: 100%; */
    object-fit: contain
}

.table_element:last-child {
    width: 210px;
    margin-right: unset;
    padding-right: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .incoming_doc_table {
        overflow-x: scroll;
    }

    .incoming_doc_table::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    /* Handle */
    .incoming_doc_table::-webkit-scrollbar-thumb {
        background: #b7b7b7;
        border-radius: 6px;
    }

    .table {
        width: 1000px;
        padding-right: 40px;
    }

    .table .table_top {
        height: 70px;
    }

    .table .table_element {
        font-size: 14px;
    }

}