.tabs {
  width: 100%;
}
.tabs > div .row1 {
  row-gap: 20px !important;
}
.headingTxt {
  color: #4c5bd4;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.headingDiv {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;

  width: 227px;
  height: 43px;

  border-bottom: 2px solid #4c5bd4;
}
.row2 {
  display: none;
}
.divHover {
  .hoverImage {
    background-color: #d5d9fc;
    color: #474747;
    border-radius: 5px;
  }
  .hoverText {
    color: #474747;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
  }
}

.divHover:hover {
  .hoverImage {
    background-color: #fff;
  }
  .hoverText {
    color: #fff;
  }
}

.selecteDiv {
  width: 100%;
}

.selecteDiv .ant-select-selector {
  padding: 0;
}

@media (min-width: 1920px) {
  .row1 {
    margin: 0px !important;
  }
  .col1 {
    display: flex;
  }
  .col2 {
    display: none;
  }
  .tabs {
    display: flex;
    /* width: 1210px; */
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header {
    display: flex;
    align-items: center;
    /* gap: 30px; */
    align-self: stretch;
  }
  .groupSearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }
  .buttonSearch {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 8px;

    border-radius: 20px !important;
    border: 1px solid #4c5bd4;
    background: #4c5bd4;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    width: 159px;
    height: 44px;

    .txt {
      color: #fff;
      text-align: justify;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 136%;
    }
  }
  .selecteDiv {
    /* width: 426px; */
  }
  .row {
    row-gap: 20px;
    column-gap: 30px;
  }
  .col {
  }
}
@media (min-width: 1366px) and (max-width: 1919px) {
  .row1 {
    margin: 0px !important;
  }
  .col1 {
    display: flex;
  }
  .col2 {
    display: none;
  }
  .tabs {
    display: flex;
    /* width: 1200px; */
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }
  .groupSearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }
  .buttonSearch {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 8px;

    border-radius: 20px !important;
    border: 1px solid #4c5bd4;
    background: #4c5bd4;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    width: 159px;
    height: 44px;

    .txt {
      color: #fff;
      text-align: justify;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 136%;
    }
  }
  .selecteDiv {
    /* width: 426px; */
  }
  .row {
    row-gap: 20px;
    column-gap: 30px;
  }
  .col {
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .row1 {
    margin: 0px !important;
  }
  .col1 {
    display: flex;
  }
  .col2 {
    display: none;
  }
  .tabs {
    display: flex;
    /* width: 964px; */
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }
  .groupSearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }
  .buttonSearch {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 8px;

    border-radius: 20px !important;
    border: 1px solid #4c5bd4;
    background: #4c5bd4;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    width: 159px;
    height: 44px;

    .txt {
      color: #fff;
      text-align: justify;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 136%;
    }
  }
  .selecteDiv {
    /* width: 426px; */
  }
  .row {
    row-gap: 20px;
    column-gap: 10px;
  }
  .col {
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .row1 {
    margin: 0px !important;
  }
  .tabs {
    display: flex;
    /* width: 720px; */
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }
  .groupSearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }
  .buttonSearch {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 8px;

    border-radius: 20px !important;
    border: 1px solid #4c5bd4;
    background: #4c5bd4;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    width: 159px;
    height: 44px;

    .txt {
      color: #fff;
      text-align: justify;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 136%;
    }
  }
  .selecteDiv {
    /* width: 426px; */
  }
  .row {
    row-gap: 20px;
    column-gap: 10px;
  }
  .col1 {
    display: flex;
  }
  .col2 {
    display: none;
  }
  .hover {
    display: none;
  }
  .row2 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

    .button {
      display: flex;
      border-radius: 20px !important;
      border: 1px solid #4c5bd4;
      background: #fff;
      width: 148px;
      height: 38px;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }

    .txt {
      color: #4c5bd4;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 136%; /* 21.76px */
    }
  }
}
@media (max-width: 767px) {
  .headingTxt {
    font-size: 18px;
  }
  .headingDiv {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    gap: 10px;

    width: 187px;
    height: 41px;

    border-bottom: 2px solid #4c5bd4;
  }
  .tabs {
    display: flex;
    /* width: 382px; */
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }
  .groupSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }
  .buttonSearch {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 5px;

    border-radius: 20px !important;
    border: 1px solid #4c5bd4;
    background: #4c5bd4;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    width: 141px;
    height: 44px;

    .txt {
      color: #fff;
      text-align: justify;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 136%;
    }
  }
  .selectInput {
    width: 360px !important;
  }
  .selecteDiv {
    /* width: 382px; */
  }
  .row1 {
    margin: 0px !important;
  }
  .col1 {
    display: none;
  }
  .col2 {
    display: flex;
  }
  .hover {
    display: none;
  }
  .row2 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

    .button {
      display: flex;
      border-radius: 20px !important;
      border: 1px solid #4c5bd4;
      background: #fff;
      width: 148px;
      height: 38px;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }

    .txt {
      color: #4c5bd4;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 136%; /* 21.76px */
    }
  }
}
