
.customCard {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

}


.customCard::after {
    content: "";
    float: right;
    background: url('https://tinhluong.timviec365.vn/img/nex_per.png') no-repeat;
    background-position: right;
    top: 49px;
    right: -15px;
    margin-right: -15px;
    width: 32px;
    height: 32px;
}
.render {
    display: flex;
    gap: 20px;
}

.text1 {
    font-size: 15px;
    line-height: 18px;
    color: #68798B;
}

.text {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customDiv {
    display: flex;
    gap: 20px;
    width: 100%;
    float: left;
}

.customDiv1{
    width: 32%;
    float: left;
}
.customH3{
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 15px;
}
.customA{
    float: left;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #4C5BD4;
    padding-right: 6px;
}
.customP{
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 22px;
    color: #68798B;
}
.customP1{
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 22px;
    color: #68798B;
    margin-top: 10px;
    margin-bottom: 10px;
}
.customDiv0{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
    border-radius: 20px;
}
.Divbig{
    width: 100%;
    float: left;
    margin-top: 30px;
}
.Divbig:first-child{
    margin-top:0;
}
.customH3big{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2E3467;
    margin-bottom: 10px;

}
.CustomDivBig{
    background: #FFFFFF !important;
    box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
    border-radius: 20px;
}
.customDivHeader{
    width: 96%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.customDiv2{
    margin-left: 2%;
    margin-right: 2%;
    width: 32%;
    float: left;
}
.customPagebig{
    width: 95%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 60px;
}
.ov_offer_ct{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
    border-radius: 20px;
    float: left;
    margin-top: 20px ;
}
.ov_offer_one_ct11{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ov_offer_one_ct11 >p >span > span{
    text-align: justify;
    text-indent: 20px;
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 22px;
    color: #68798B;
}

.ov_offer_one_ct11 >h2 {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}
.ov_offer_one_ct11 >h2 >span > span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.5em;
    font-weight: bold;
}
.ov_offer_one_ct11_span{
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 22px;
    color: #68798B;
}
.ov_offer_one_ct11_h3{
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: justify;
    text-indent: 20px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
.ov_offer_one_ct11_span1{
    font-size: 1.17em;
    font-weight: bold;
    text-align: justify;
    text-indent: 20px;
}
.ov_offer_one_ct11_span_span{
    font-weight: 700;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    white-space: pre-wrap;
}
.ov_offer_one_ct11_p{

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ov_offer_one_ct11_spanMu {
    display: flex;
    flex-direction: row;
}

.spanBig{
    font-weight: 700;
    white-space: pre-wrap;
    font-size: 15px;
    line-height: 22px;
    color: #68798B;
}
.spanBigN{
    font-style: italic;
    white-space: pre-wrap;
    font-size: 15px;
    line-height: 22px;
    color: #68798B;
}

.customFigure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.ov_offer_one_ct11_img{
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 635px;
    aspect-ratio: auto 605 / 635;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.customFigcaption{
    margin-bottom: 20px;
    font-style: italic;
    color: #68798B;
}
.customa{
    color: rgb(5, 99, 193);
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    white-space: pre-wrap;
}
.ov_offer_one_ct11_h4{
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: justify;
    text-indent: 20px;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.p_style {
    font-size: 15px;
    line-height: 18px;
    color: #4c5bd4;
}
