.tax_one {
  width: 100%;
  float: right;
  margin-bottom: 20px;
  position: relative;
}

.tax_one > p {
  float: right;
  text-align: right;
  padding: 9px 20px 8px 45px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  background-color: #4c5bd4;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-image: url(/tab_one.png);
  background-repeat: no-repeat;
  background-position: 15px 12px;
}

.tax_tow {
  width: 100%;
  float: left;
  border-bottom: 1px solid #d4e2f3;
  overflow-x: auto;
}

.groupw_tow {
  width: 100%;
  float: left;
}

.groupw_tow > p {
  float: left;
  margin-right: 35px;
  font-size: 16px;
  line-height: 19px;
  color: #68798b;
  cursor: pointer;
}

.active {
  font-weight: 500;
  color: #f46a6a !important;
  border-bottom: 2px solid #f46a6a;
  padding-bottom: 10px;
}
.tax_three {
  width: 100%;
  float: left;
  margin-top: 40px;
}
.tax_three_ct_one {
  width: 100%;
  float: left;
}
.tax_ct_pr {
  width: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}
.tax_ct_tx {
  width: 100%;
  float: left;
  border-bottom: 1px dashed #474747;
  padding-bottom: 15px;
  margin-top: 10px;
}
.tax_ct_tx > p {
  width: 100%;
  float: left;
  font-size: 15px;
  line-height: 18px;
  color: #68798b;
  margin-top: 5px;
}

.tax_ct_tx > h3 {
  width: 70%;
  float: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4c5bd4;
  margin-top: 5px;
}

.deta {
  object-fit: cover;
  transform: rotate(90deg);
}
.tax_ct_tow {
  width: 100%;
  float: left;
  margin-bottom: 30px;

  .tax_ct_tow_h4 {
    background: url(/write.png) no-repeat;
    background-position: left;
  }
}
.tax_ct_tow > p {
  width: 93%;
  float: left;
  padding-left: 21px;
  font-size: 15px;
  line-height: 25px;
  color: #68798b;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
/* .tax_ct_tow > h4 {
  width: 100%;
  float: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #5f648d;
  padding-left: 25px;
  position: relative;
  margin-bottom: 5px;
} */
.tax_ct_tow_h4 {
  width: 100%;
  float: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #5f648d;
  padding-left: 25px;
  position: relative;
  margin-bottom: 5px;
}
.see_more_one_btx {
  font-weight: 500;
  color: #4c5bd4;
  cursor: pointer;
}

.frame_lgr_th {
  height: 70px;
  color: rgba(116, 116, 116, 0.8);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  margin-bottom: 10px;
}
.tax_ct_button {
  display: flex;
  width: 89%;
  background: #4c5bd4;
  margin-left: 5%;
  justify-content: center;
  border-radius: 5px;
  border: 0;
  align-items: center;
  margin-bottom: 0px;
}
.tax_ct_button > img {
  width: 20px;
  height: 20px;
}

.tax_ct_button > p {
  padding: 11px 0;
  color: #ffffff;
  text-decoration: none;
  padding-left: 7px;
}
.modal_hd_tax {
  width: 91%;
  float: left;
  margin-left: 4.5%;
  margin-right: 4.5%;
}
.modal_body {
  width: 100%;
  float: left;
}
.cr_popup_tax {
  width: 100%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cr_popup_tax > p {
  width: 100%;
  float: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4c5bd4;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.nd_xem_them {
  width: 100%;
  float: left;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  letter-spacing: 0.3px;
  color: #555555;
}
.close_modal {
  width: 100%;
  float: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 12px 0;
  background: #4c5bd4;
  border-radius: 6px;
  outline: 0;
  border: 0;
  margin-top: 20px;
}
