.tax_one {
  width: 100%;
  float: right;
  margin-bottom: 20px;
  position: relative;
}

.tax_one > p {
  float: right;
  text-align: right;
  padding: 9px 20px 8px 45px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  background-color: #4c5bd4;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-image: url(/tab_one.png);
  background-repeat: no-repeat;
  background-position: 15px 12px;
}

.tax_tow {
  width: 100%;
  float: left;
  border-bottom: 1px solid #d4e2f3;
  overflow-x: auto;
}

.groupw_tow {
  width: 100%;
  float: left;
}

.groupw_tow > p {
  float: left;
  margin-right: 35px;
  font-size: 16px;
  line-height: 19px;
  color: #68798b;
  cursor: pointer;
}

.active {
  font-weight: 500;
  color: #f46a6a !important;
  border-bottom: 2px solid #f46a6a;
  padding-bottom: 10px;
}
.tax_three {
  width: 100%;
  float: left;
  margin-top: 40px;
}
.tax_three_ct_one {
  width: 100%;
  float: left;
}
.late_or_soon {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgb(55 63 255 / 10%);
  border-radius: 7px;
  width: 100%;
  float: left;
}
.cate_staff_one {
  width: 97%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: unset;
}
.cate_ct_one {
  float: left;
  width: 65%;

  box-sizing: border-box;
}
.cate_ct_one > h3 {
  width: 100%;
  float: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #2e3467;
  margin-bottom: 3px;
}
.cate_ct_one > i {
  width: 100%;
  float: left;
  font-size: 15px;
  line-height: 18px;
  color: #68798b;
}
.cate_ct_tow {
  float: right;
  text-align: left;
  display: flex;
}
.sl_date {
  float: right;
  text-align: left;
  padding: 10px 15px 10px 20px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin-right: 9px;
  font-size: 15px;
  line-height: 16px;
  color: #68798b;
  height: 38px;
}

.take_leave_tb {
  padding: 0px 20px;
}
.selection {
  margin-right: 10px;
}
.takeleave_status_1 {
  background: #d0eae7;
  padding: 10px;
  border-radius: 34px;
  color: #469f94;
  text-decoration: none;
  min-width: 150px;
  display: inline-block;
}
.takeleave_status_2 {
  background: #fff3eb;
  padding: 10px;
  border-radius: 34px;
  color: #ff8c44;
  text-decoration: none;
  min-width: 150px;
  display: inline-block;
}
