.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .headerTxt {
    font-size: 20px;
    font-weight: 600;
  }
}

.title {
  text-align: center;
}

@media screen and (max-width: 414px) {
  .headerTxt {
    font-size: 18px !important;
  }
}
