.addform{
    [class~="ant-form-item"]
    [class~="ant-row"]
    [class~="ant-col"]
    label::before{
        position: absolute !important;
        right: -15px !important;
    }
}
.chinhSuaPhongBan
label::before{
    position: absolute !important;
    right: -15px !important;
}