.home_main {
    padding: 30px 30px 50px 30px;
}

/* .box_input */
.box_input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.control_add {
    display: flex;
    justify-content: flex-end;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.w_100 {
    width: 100%;
}

.mt_15 {
    margin-top: 15px;
}

.mt15_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 15px;
}

.col_2_d_flex {
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
}

/* btn search */
.btn_search {
    padding: 9px 25px;
    border-radius: 6px;
    color: #ffffff;
    background: #4C5BD4;
    border: 1px solid #4C5BD4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.control {
    background: #FFFFFF;
    box-shadow: 1px 3px 10px rgb(0 0 0 / 15%);
    border-radius: 10px;
    padding: 15px 20px 5px 20px;
    margin-bottom: 20px;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media (max-width: 480px) {
    .home-main {
        padding: 15px 15px 35px 15px;
    }

    .control>.box_input {
        flex-wrap: wrap;
    }

    .btn_search {
        width: 100%;
    }
}

.paginate {
    display: flex;
    justify-content: center;
    list-style: none;
}



.paginate .li_navi a {
    padding: 4px 8px;
    border: 1px solid #ccc;
}