.textCenter{
    display: flex;
    justify-content: center;
}
.textThuong{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: #C3FFD9;
    width: fit-content;
    padding: 5px 15px;
}
.textPhat{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: #FFE7E4;
    width: fit-content;
    padding: 5px 15px;
}
.textCaiDat{
    display: flex;
    border-radius: 15px;
    align-items: center;
    background-color: #BADDFF;
    width: fit-content;
    padding: 2px 15px;
}
.chiTietPhat{
    position: relative;
}
.exit{
    position: absolute;
    right:-2%;
    top:-7%
}
.popovers{
    z-index: 1;
}