.container {
  padding: 25px;
}
.container b {
  color: red;
}
.formdate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dateinput {
  width: 48%;
}
.title {
  font-size: 17px;
  padding-top: 5px;
}
.dateModal {
  height: 25px;
}
.inpdate {
  height: 100%;
}

.custom_filter {
  background-color: #4c5bd4;
  width: 100% !important;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px !important;
  border-radius: 8px 8px 0 0 !important;
}

.main_filter2 {
}
