.part_hps {
   width: 95%;
   float: left;
   margin-left: 2.5%;
   margin-right: 2.5%;
   margin-top: 60px;
}
.cate_staff {
   width: 100%;
   float: left;
   background: #ffffff;
   box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
   border-radius: 10px;
}
.cate_staff_one {
   width: 97%;
   float: left;
   margin-left: 1.5%;
   margin-right: 1.5%;
   margin-top: 20px;
   margin-bottom: 20px;
}
.cate_staff_tow_cl_th {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 97%;
   float: left;
   margin-left: 1.5%;
   margin-right: 1.5%;
   margin-top: 20px;
   margin-bottom: 30px;
}
.cate_ct_one {
   float: left;
}

.cate_ct_one > h3 {
   width: 100%;
   float: left;
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   color: #2e3467;
   margin-bottom: 3px;
}
.cate_ct_tow {
   text-align: left;
   float: right;
   display: flex;
}
.selection {
   margin-right: 10px;
}
.tinh_luong {
   padding: 10px 20px;
   background: #4c5bd4;
   color: #fff;
   height: 38px;
   cursor: pointer;
   vertical-align: top;
   float: right;
   text-align: left;
   border: 1px solid #ebebeb;
   border-radius: 10px;
   margin-right: 9px;
   font-size: 15px;
   line-height: 16px;
   margin-top: -3px;
}
.nd_cl_box {
   float: left;
   width: 100%;
}
.box_cl {
   background: #ffffff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   margin-bottom: 20px;
   padding: 25px 15px;
   height: 440px;
   position: relative;
   margin-left: 10px;
   margin-right: 10px;
}
.box_cl > h3 {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #68798b;
   text-align: center;
   margin-bottom: 20px;
}
.box_cl > ul {
   padding-left: 20px;
   list-style: none;
}
.box_cl > ul > li::before {
   content: "\2022";
   color: #c4c4c4;
   font-weight: bold;
   display: inline-block;
   width: 1em;
   margin-left: -1em;
   float: left;
}
.box_cl > ul > li {
   font-weight: 500;
   font-size: 15px;
   line-height: 20px;
   color: #68798b;
   margin-bottom: 15px;
}
.box_cl > ul > li > span {
   font-weight: 500;
   font-size: 15px;
   line-height: 20px;
   color: #68798b;
   min-width: 50%;
}
.detail_th {
   font-size: 14px;
   line-height: 20px;
   color: #4c5bd4;
   position: absolute;
   bottom: 20px;
   right: 20px;
   cursor: pointer;
   text-decoration: underline;
}
.my_barChart {
   width: 100%;
   padding: 0px 30px;
}
.chart_bar {
   display: block;
   box-sizing: border-box;
   height: 529.6px;
   width: 1060.8px;
}

@media (max-width: 1200px) {
   .main {
      display: none;
   }
   .bao-cao-cong-luong_box_cl__i9XsB{
      width: 91%;
   }
   .chart_bar{
      max-height: 250px ;
   }
}

.formItem{
   margin-right: 10px;
}

.formContainer {
   display: flex;
   align-items: center;
}