.tax_one {
  width: 100%;
  float: right;
  margin-bottom: 20px;
  position: relative;
}

.tax_one > p {
  float: right;
  text-align: right;
  padding: 9px 20px 8px 45px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  background-color: #4c5bd4;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-image: url(/tab_one.png);
  background-repeat: no-repeat;
  background-position: 15px 12px;
}

.tax_tow {
  width: 100%;
  float: left;
  border-bottom: 1px solid #d4e2f3;
  overflow-x: auto;
}

.groupw_tow {
  width: 100%;
  float: left;
}

.groupw_tow > p {
  float: left;
  margin-right: 35px;
  font-size: 16px;
  line-height: 19px;
  color: #68798b;
  cursor: pointer;
}

.active {
  font-weight: 500;
  color: #f46a6a !important;
  border-bottom: 2px solid #f46a6a;
  padding-bottom: 10px;
}
.tax_three {
  width: 100%;
  float: left;
  margin-top: 40px;
}
.tax_three_ct_one {
  width: 100%;
  float: left;
}
.tax_calendarwork {
  display: flex;
  flex-wrap: wrap;
}
.tax_calendarwork > p {
  float: left;
  width: 100%;
  font-size: 22px;
  text-decoration: underline;
  margin: 40px 0px 20px;
}
.tax_items {
  width: 28%;
  float: left;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgb(55 63 255 / 10%);
  border-radius: 10px;
  margin-bottom: 40px;
  margin-right: 50px;
}
.tax_bg1 {
  background: url(/bg-1.png) no-repeat;
  border-radius: 10px;
  background-size: 100% 100%;
}
.tax_top {
  padding: 24px 0;
  margin-left: 4.5%;
  margin-right: 4.5%;
}
.tax_setting {
  position: relative;
}
.tax_setting > p {
  float: right;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s linear;
  width: 23px;
  height: 23px;
  text-align: center;
  margin-top: -20px;
}
.tax_setting > p > img {
  padding-top: 9px;

  object-fit: cover;
}
.tax_title {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
}
.Dropdownlistitems {
  display: flex;
  list-style-type: none;

  transition: all 0.3s linear;
  cursor: pointer;
}

.Dropdownlistitems > p {
  font-size: 15px;
  line-height: 20px;
  color: #666c7c;
  text-decoration: none;
  padding-left: 8px;
}
.Dropdownlistitems > p:hover {
  color: #4c5bd4;
}
.Dropdownlistitems1 {
  display: flex;
  list-style-type: none;

  transition: all 0.3s linear;
  cursor: pointer;
}

.Dropdownlistitems1 > p {
  font-size: 15px;
  line-height: 20px;
  color: #666c7c;
  text-decoration: none;
  padding-left: 8px;
}
.Dropdownlistitems1 > p:hover {
  color: red;
}
