.tax_one {
  width: 100%;
  float: right;
  margin-bottom: 20px;
  position: relative;
  margin-left: 10px;
}

.tax_one > p {
  float: right;
  text-align: right;
  padding: 9px 20px 8px 45px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  background-color: #4c5bd4;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-image: url(/tinhluong/tab_one.png);
  background-repeat: no-repeat;
  background-position: 15px 12px;
  margin-left: 10px;
}
.selection {
  margin-right: 10px;
  float: right;
}

.tax_tow {
  width: 100%;
  float: left;
  border-bottom: 1px solid #d4e2f3;
  overflow-x: auto;
}

.groupw_tow {
  width: 100%;
  float: left;
}

.groupw_tow > p {
  float: left;
  margin-right: 35px;
  font-size: 16px;
  line-height: 19px;
  color: #68798b;
  cursor: pointer;
}

.active {
  font-weight: 500;
  color: #f46a6a !important;
  border-bottom: 2px solid #f46a6a;
  padding-bottom: 10px;
}
.tax_three {
  width: 100%;
  float: left;
  margin-top: 40px;
}
.tax_three_ct_one {
  width: 100%;
  float: left;
}
.tax_calendarwork {
  display: flex;
  flex-wrap: wrap;
}
.tax_calendarwork > p {
  float: left;
  width: 100%;
  font-size: 22px;
  text-decoration: underline;
  margin: 40px 0px 20px;
}
.tax_items {
  width: 28%;
  float: left;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgb(55 63 255 / 10%);
  border-radius: 10px;
  margin-bottom: 40px;
  margin-right: 50px;
}
.tax_bg1 {
  background: url(/tinhluong/bg-1.png) no-repeat;
  border-radius: 10px;
  background-size: 100% 100%;
}
.tax_top {
  padding: 24px 0;
  margin-left: 4.5%;
  margin-right: 4.5%;
}
.tax_setting {
  position: relative;
}
.tax_setting > p {
  float: right;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s linear;
  width: 23px;
  height: 23px;
  text-align: center;
  margin-top: -20px;
}
.tax_setting > p > img {
  padding-top: 9px;

  object-fit: cover;
}
.tax_title {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
}
.Dropdownlistitems {
  display: flex;
  list-style-type: none;

  transition: all 0.3s linear;
  cursor: pointer;
}
.Dropdownlistitems > img {
}
.Dropdownlistitems > p {
  font-size: 15px;
  line-height: 20px;
  color: #666c7c;
  text-decoration: none;
  padding-left: 8px;
}
.modal_hd_tax_ThemMoi {
  width: 91%;
  float: left;
  margin-left: 4.5%;
  margin-right: 4.5%;
}
.modal_body_ThemMoi {
  width: 100%;
  float: left;
  padding-bottom: 30px;
}
.cr_popup_tax_ThemMoi {
  margin-top: 30px;
}

.form_group_ThemMoi {
  width: 100%;
  float: left;
  margin-bottom: 14px;
  margin-top: 8px;
}
.form_group_ThemMoi {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #666666;
}
.form_group_ThemMoi > select {
  width: 100%;
  float: left;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 19px;
  color: #777777;
  outline: 0;
  margin-top: 10px;
}
.form_group_ThemMoi > select > option {
  font-size: 16px;
  line-height: 19px;
}
.form_group_ThemMoi > input {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 19px;
  color: #777777;
  width: 100%;
  float: left;
  margin-bottom: 14px;
  margin-top: 5px;
}
.btn_sv_ThemMoi {
  width: 100%;
  float: left;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background: #4c5bd4;
  border-radius: 5px;
  padding: 14px 20px 13px 20px;
  border: 0;
  cursor: pointer;
  outline: 0;
  margin-top: 24px;
}
.form_tab_ThemMoi {
  width: 91%;
  margin-left: 4.5%;
  margin-right: 4.5%;
}
.form_section_ThemMoi {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.form_group_ThemMoi {
  padding-bottom: 14px;
}
.form_group_ThemMoi > label {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #666666;
  margin-bottom: 5px;
  width: 100%;
}
.form_item_checkbox {
  display: flex;
  width: 100%;
}
.form_item_checkbox > p {
  color: #666666;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}
.form_item_checkbox > input {
  float: left;
  width: 18px;
  margin-right: 8px;
  border: 1px solid #bbbbbb;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 36px;
  color: #777777;
  margin-top: 10px;
  height: 18px;
}
.previous_btn_cycle_left {
  float: left;
  width: 48%;
  background: #ffffff;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 11px 0;
  margin-top: 15px;
  margin-bottom: 20px;
}

.previous_btn_cycle_left > p {
  position: relative;
  text-decoration: none;
  color: #666666;
}
.continue_btn_cycle {
  padding: 11px 0;
  background: #4c5bd4;
  width: 48%;
  float: right;
  border-radius: 5px;
  color: #ffffff;
  border: 0;
  margin-top: 15px;
  cursor: pointer;
}
.modal_delete_body {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.btn_cancer {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff !important;
  background-color: #4c5bd4;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 135px !important;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn_delete {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff !important;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 135px !important;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.modal_add_body {
  margin-left: 4.5%;
  margin-right: 4.5%;
  /* max-height: 450px; */
}
.modal_add_content {
  padding-top: 15px;
  padding-bottom: 5px;
}
.btn_add {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff !important;
  background-color: #4c5bd4;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  margin-bottom: 5px;
}
.render {
  display: flex;
  gap: 20px;
}
.employee_flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.employee_text {
  margin-left: 40px;
  margin-top: 20px;
}
.employee_h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2e3467;
}
.employee_p {
  font-size: 15px;
  line-height: 18px;
  color: #68798b;
}
.btn_employee {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff !important;
  background-color: #4c5bd4;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 155px !important;
  margin-top: 20px;
  margin-right: 40px;
}
.modal_add_body {
}
.box_calendar {
  padding: 20px;
  /* float: left; */
}
.calendar {
  display: flex;
  flex-flow: column;
}
.header {
  font-size: 20px;
  font-weight: bold;
  color: #636e73;
  margin-bottom: 20px;
}
.days {
  display: flex;
  flex-flow: wrap;
  border: solid 1px #dddddd;
  border-radius: 10px 10px 0px 0px;
}
/* .imgthreedots {
  height: 9px;
} */
.tax_bottom {
  margin-left: 4.5%;
  padding: 20px 0;
}
.tax_bottom_1 > p {
  margin: 10px 0;
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}
.tax_bottom_1 > img {
  float: left;
  margin-right: 5px;
}
.tax_bottom_2 > p {
  margin: 10px 0;
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}
.tax_bottom_2 > img {
  float: left;
  margin-right: 5px;
}
.Tien_Danh_sach_nhan_vien {
  background: red;
}
