.tax_one {
  width: 100%;
  float: right;
  margin-bottom: 20px;
  position: relative;
}

.selection {
  margin-right: 10px;
  float: right;
}

.tax_one > p {
  float: right;
  text-align: right;
  padding: 9px 20px 8px 45px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  background-color: #4c5bd4;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-image: url(/tab_one.png);
  background-repeat: no-repeat;
  background-position: 15px 12px;
}

.tax_tow {
  width: 100%;
  float: left;
  border-bottom: 1px solid #d4e2f3;
  overflow-x: auto;
}

.groupw_tow {
  width: 100%;
  float: left;
}

.groupw_tow > p {
  float: left;
  margin-right: 35px;
  font-size: 16px;
  line-height: 19px;
  color: #68798b;
  cursor: pointer;
}

.active {
  font-weight: 500;
  color: #f46a6a !important;
  border-bottom: 2px solid #f46a6a;
  padding-bottom: 10px;
}
.tax_three {
  width: 100%;
  float: left;
  margin-top: 40px;
}
.tax_three_ct_one {
  width: 100%;
  float: left;
}
.tax_ct_tx {
  padding-bottom: 15px;
  float: left;
}
.tax_ct_tx_h3 {
  width: 70%;
  float: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4c5bd4;
  margin-top: 40px;
}
.tax_ct_tow {
  width: 91%;
  float: left;
}
.tax_describe {
  width: 100%;
  float: left;
}
.tax_describe > span > h4 {
  width: 100%;
  float: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #5f648d;
  padding-left: 10px;
  position: relative;
  margin-bottom: 5px;
  margin-left: 10px;
}
.tax_describe > span ::before {
  background: url(/write.png) no-repeat;
  background-position: left;
  position: absolute;
  content: "";
  float: left;
  top: 0;
  left: -10px;
  width: 16px;
  height: 16px;
}
.tax_describe > p {
  width: 93%;
  float: left;
  padding-left: 10px;
  font-size: 15px;
  line-height: 25px;
  color: #68798b;
}
.et_isrc_mn {
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 15px;
}
.et_isrc_mn > input {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 19px;
  color: #777777;
  outline: 0;
  width: 100%;
  float: left;
}
.rose_btn_one {
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  width: 100%;
  float: left;
  height: 40px;
  background: #4c5bd4;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
