.tieuDe {
  font-size: 34px;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 500;
}
.noiDung {
  font-size: 16px;
  text-align: justify;
}
@media screen and (max-width: 414px) {
  .tieuDe {
    margin-top: 12px;
  }
}

.dotb4::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
  background-color: #000;
  vertical-align: middle;
}
