.tieuDe {
  font-size: 34px;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 500;
}
.noiDung {
  font-size: 16px;
  text-align: justify;
}
@media screen and (max-width: 414px) {
  .tieuDe {
    margin-top: 12px;
  }
}
