.main {
  background-color: #4c5bd4;
  width: 100vw;
  height: calc(100vh - 40px);

  .divWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .startBtn {
    border-radius: 20px;
    background: linear-gradient(180deg, #ffda56 0%, #feba01 100%);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  }

  .recognizeTxt {
    z-index: 9999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .txt {
      color: #fff;
      padding: 10px 20px;
      background: #ff451c;
      border-radius: 30px;
    }
  }
}

.webcamCapture {
  position: relative;
  width: 50%;
}
@media only screen and (max-device-width: 640px) {
  .webcamCapture {
    position: fixed;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-device-width: 768px) {
  .webcamCapture {
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

.btnOk {
  width: 250px;
  padding: 10px 30px;
  border-radius: 20px;
  background: linear-gradient(180deg, #4c5bd4 0%, #5667f2 100%);
}

.btnCancel {
  width: 250px;
  margin-left: 30px;
  padding: 10px 30px;
  border-radius: 20px;
  background: linear-gradient(180deg, #ffd059 0%, #ffbd00 100%);
}

.wrapper {
  border: 1px solid blue;
  border-radius: 20px;
  padding: 10px 30px;
}
