.main_create {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.main_create>.container {
    width: 100%;
}

.title_main {
    display: flex;
    position: relative;
}

.active_title {
    color: #2A38A2;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(204, 204, 204, 0.48);
    cursor: pointer;
}

.title_main .animation {
    border-radius: 100px;
    position: absolute;
    left: 20px;
    bottom: 0;
    transition: all .4s ease;
    width: 60px;
    height: 3px;
    background-color: #2A38A2;
}

.search {
    margin-top: 20px;
}

.form_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_box_search {
    box-shadow: 0px 0px 10px 0px #0000001A;
    background-color: #FFFFFF;
    width: 420px;
    border-radius: 10px;
    padding-right: 15px;
    border: 1px solid #666666;
    display: flex;
    align-items: center;
}

.div_box_search input {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 15px;
    line-height: 16px;
    font-size: 14px;
    color: #666666;
    border: none;
    outline: none;
    background-color: transparent;
}

.div_box_search .btn_search {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border-radius: 3px;
    width: 19px;
    height: 19px;
    border: none;
    background: none;
}

.div_box_search .btn_search img,
.box_img img {
    width: 100%;
    height: 100%;
}

.box_right {
    display: flex;
    align-items: center;
}

.box_img {
    height: 36px;
    width: 36px;
    margin-right: 6px;
}

.guide {
    color: #4C5BD4;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
}

.application {
    margin-top: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    align-items: flex-start;
}

@media screen and (max-width: 590px) {
    .search .form_search {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .search .form_search .div_box_search {
        width: 100%;
        margin-top: 20px;
    }

    .list {
        margin-left: 0;
        margin-right: 0;
    }
}