.quanly_mau_box{
    padding: 20px 60px;
}
.quanlymau_box_title{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}
.quanly_title_text{
    font-size: 18px;
    line-height: 21px;
    color: #474747;
}
.search_dx{
    width: 100%;
    position: relative;
}
.pagination_wrap_clr{
    width: 100%;
    height: 48px;
    border-top: 0;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
}
.search_dx_top{

}
.text_search_dx{
    height: 40px;
    width: 43%;
    border: 1px solid #666666;
    border-radius: 10px;
    color: #999999;
    font-size: 14px;
    box-sizing: border-box;
    padding: 12px 16px;
    margin-bottom: 20px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn_search_dx{
    width: 18.71px;
    height: 18.71px;
    position: absolute;
    top: 10px;
    left: 40%;
    cursor: pointer;
}
.quanlymau_box_list{
    width: 100%;
    overflow-x: scroll;
}
.quanlymau_list_tab{
    
}
.quanlymau_tab_content{
    background: #fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0 84px 40px 47px;
    width: 100%;
}
.quanlymau_tab_items{

}
.quanlymau_tab_group{
    
}
.quanlymau_tab_form{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(71, 71, 71, 0.5);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    color: #474747;
}
.quanlymau_form_title{
    width: 25%;
    padding-right: 3%;
}
.quanlymau_form_popup{
    width: 23%;
}
.quanlymau_form_time{
    width: 27.4%;
    display: flex;
    padding-left: 20px;
    color: rgba(71, 71, 71, 0.5);
    font-weight: 500;
    font-size: 16px;
}
.quanlymau_form_status{
    width: 200px;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.quanlymau_title_text{
    color: #4c5bd4;
    font-size: 16px;
    font-weight: 600;
}
.quanlymau_title_content{
    color: rgba(71, 71, 71, 0.5);
    font-size: 14px;
}
.quanlymau_popupbtn{
    padding: 4px 10px;
    background: #ebeef5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 58%;
    cursor: pointer;
    color: #474747;
}
.img_xem_truoc{
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.time_icon_area{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.on_off_switch{
    position: relative;
    width: 70px;
    -webkit-user-select: none;
}
.switch {
    position: relative;
    width: 70px;
    height: 30px;
    display: inline-block;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebeef5;
    transition: 0.25s;
    border-radius: 25px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 10px;
    bottom: 6.5px;
    background: #999;
    transition: 0.25s;
    border-radius: 50%;
}
.switch_input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch_input:checked + .slider {

}
.switch_input:checked + .slider:before {
    transform: translateX(35px);
    background: #2b8e47;
}
.switchContainer {
    display: flex;
    align-items: center;
}
.switchWrapper {
    display: flex;
    align-items: center;
}
.onText {
    color: #2b8e47;
    margin-left: 15px;
    padding-top: 6px;
    position: absolute;
    font-size: 15px;
  }
  
.offText {
    color: #999;
    margin-left: 30px;
    padding-top: 6px;
    position: absolute;
    font-size: 15px;
}
.popup_l{
    position: fixed;
    background: #231f2045;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0px;
    left: 0px;
}
.themmaudon_table{
    width: 50%;
    height: auto;
    margin: 0px auto;
    margin-top: 38px;
}
.themmaudon_title{
    width: 100%;
    height: 50px;
    padding: 0 25px;
    background-color: #4c5bd4;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.themmaudon_title_text{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.themmaudon_body{
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 25px;
    overflow-y: scroll;
    max-height: 500px;
    height: auto;
}
.close_popup{
    cursor: pointer;
    height: 16px;
    width: 16px;
}
@media (max-width: 900px) {
    .quanly_mau_box{
        padding: 0;
    }
    .themmaudon_table{
        width: 100%;
    }
    .quanlymau_box_list{
        width: 100%;
        overflow-x: scroll;
    }
    .quanlymau_list_tab{
        width: 1150px
    }
    .btn_search_dx{
        left: 51%;
    }
    .text_search_dx{
        width: 60%;
    }
}