.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 20px;
  background-color: #4c5bd4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.textHead {
  font-size: 20px;
  color: #fff;
}
.body {
  padding: 20px;
}
.nameCT {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #9f9f9f;
}
.apdung {
  width: 100%;
  margin-bottom: 20px;
}
.text {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-bottom: 5px;
}
.title {
  color: #474747;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%; /* 21.76px */
}
.dau {
  color: #ff5b4d;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
}
.inputap {
  border-radius: 5px;
  border: 1px solid #9f9f9f;
}
.khungbutton {
  display: flex;
  width: 100%;
  justify-content: center;
}
.button {
  display: flex;
  padding: 5px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #4c5bd4;
  border: none;
}
.textbutton {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 136%; /* 24.48px */
}
@media screen and (max-width: 480px) {
  .textHead {
    font-size: 18px;
  }
}
