  .menu {
      width: 100%;
      height: auto;
      padding: 15px 15px;
  }

  .menu ul {
      display: block;
      list-style: none;
  }

  .menu ul li {
      padding: 5px 0px;
      width: 100%;
  }