/** @format */

.QLC_item_wrap {
  background-color: #f8f9fe;
  padding: 24px 0px 24px 16px;
  border-radius: 12px;
  cursor: pointer;
  .QLC_item {
    display: flex;
    gap: 20px;
    .content {
      gap: 10px;
      display: flex;
      flex-direction: column;
      .title {
        font-size: 18px;
        color: #333;
      }
      .detail span {
        margin-left: 5px;
      }
    }
  }
}
