/* banner */

.banner {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #4c5bd4;
}

.banner .banner-left {
  width: 50%;
  float: left;
}

.banner-left .href {
  display: none;
  text-align: left;
  padding-left: 67px;
  margin-top: 45px;
}
.download_app_pc {
  padding-left: 60px;
}
.download_app_tit {
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  font-weight: 500;
  color: #fff;
  margin: 40px 0px 16px 0px;
}
.banner-left .text-top {
  color: #fff;
  width: 90%;
  margin-top: 184px;
  text-align: left;
  padding-left: 60px;
  color: #fff;
}

.text-top .title_banner {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}

.text-top .title_content_banner {
  color: #fff;
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 34px;
  padding-top: 8px;
}

.text-top .title_content_banner_02 {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
}

.main .first {
  color: #fff;
  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 235.9px;
  height: 46.73px;
  display: inline-block;
  line-height: 46px;
  background: #ffa800;
  border-radius: 50px;
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.main .sec {
  color: #fff;
  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
  margin-left: 22px;
  text-align: center;
  text-decoration: none;
  color: #4c5bd4;
  width: 186.94px;
  height: 46.73px;
  display: inline-block;
  line-height: 46px;
  background: #ffffff;
  border-radius: 50px;
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.banner .banner-right {
  margin-top: 72px;
  margin-bottom: 123px;
  width: 50%;
  float: right;
  text-align: right;
}

/* ======================================================
  Css cho Body
  */

.main .title_box {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #474747;
}

.content-body {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.body {
  color: #474747;
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
}

.body .title_box {
  padding-bottom: 33px;
  margin: 0 !important;
  color: #474747;
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.body .title_box_special {
  text-transform: uppercase;
}

.body .href-02 {
  padding-top: 45px;
}

.box-01 {
  height: 649px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row-reverse;
}

.box-01 .left-01 {
  padding: 45px 0 0 152px;
  width: 50%;
}

.left-01 img {
  width: 563.05px;
  height: 559.71px;
}

.box-01 .right-01 {
  margin-top: 208px;
  width: 50%;
}

.box-01 .title_content_box1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #474747;
  width: 563px;
  padding-bottom: 44px;
  margin: 0 !important;
  padding-top: 10px;
}

.right-01 .text-01 h4 {
  width: 75%;
  margin-top: 33.3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
}

.box-02 {
  background-color: #ffffff;
  display: block;
}

.box-02 .text-02 {
  padding-top: 44px;
  text-align: center;
}

.text-02 h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
}

.box-02 .item {
  display: flex;
  padding: 40px 60px 40px 60px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-02 .item .title_item {
  color: #474747;
  font-family: "Roboto-Medium";
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  padding: 0px 65px;
  position: absolute;
  top: 35%;
}

.box-02 .item .text_box {
  color: #474747;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  width: 100%;
  padding: 0px 22px;
  position: absolute;
  top: 55%;
}

.box-02 .item .item-01 {
  background: url(/crm/bg-item-01.png) no-repeat;
  background-size: 100% 100%;
}

.box-02 .item .item-child {
  width: calc(25% - 10px);
  min-height: 344px;
  position: relative;
}

.box-02 .item .item-02 {
  background: url(/crm/bg-item-02.png) no-repeat;
  background-size: 100% 100%;
}

.box-02 .item .item-03 {
  background: url(/crm/bg-item-03.png) no-repeat;
  background-size: 100% 100%;
}

.box-02 .item .item-04 {
  background: url(/crm/bg-item-04.png) no-repeat;
  background-size: 100% 100%;
}

.box-03 {
  background-color: #eeeeee;
  display: flex;
}

.box-03 .video {
  width: 100%;
  padding: 44.5px 0 44.5px 168px;
}

.box-03 iframe {
  min-width: 518.54px;
  min-height: 291.54px;
}

.box-03 .text-03 .title_content_box_03 {
  color: #474747;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  padding-top: 10px;
}

.box-03 .right-03 {
  width: 100%;
  padding: 44.5px 167px 111px 0;
}

.box-04 {
  background-color: #fff;
  text-align: center;
}

.box-04 .app {
  display: inline-flex;
  padding: 40px 0px 39px 0px;
}

.box-04 .store {
  display: grid;
  padding-left: 10px;
}

.box-04 .text-04 {
  padding-top: 44px;
}

.box-04 .text-04 h3 {
  color: #474747;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.box-05 {
  text-align: center;
  background-color: #eeeeee;
}

.box-05 .text-05 {
  padding-top: 3%;
}

.box-05 .text-05 h3 {
  color: #474747;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.box-05 .icon-company {
  padding: 3% 0% 3% 5%;
}

.box-05 .icon-company img {
  padding-right: 5%;
}

.box-06 {
  text-align: center;
  padding: 44px 144px;
}

.box-06 .title_text {
  text-align: justify;
}

.title_text .small_title {
  color: #474747;
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

/* -----------------------------------------------------------responsive 1366----------------------------------------------------------- */

@media (max-width: 1367px) {
  /* ----------------------------CSS CHO HEADER Cá»¦A MÃ€N 1366------------------------- */
  .banner {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #4c5bd4;
  }
  .banner .banner-left {
    width: 50%;
    float: left;
  }
  .banner-left .href {
    text-align: left;
    padding-left: 60px;
    margin-top: 40px;
  }
  .banner-left .text-top {
    color: #fff;
    width: 100%;
    margin-top: 184px;
    text-align: left;
    padding-left: 60px;
    color: #fff;
  }
  .text-top .title_banner {
    padding-bottom: 20px;
    margin: 0 !important;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  }
  .text-top .title_content_banner {
    padding-bottom: 5px;
    margin: 0 !important;
    color: #fff;
    font-family: "Roboto-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;
  }
  .text-top .title_content_banner_02 {
    margin: 0 !important;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
  }
  .main .first {
    color: #fff;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 212px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    background: #ffa800;
    border-radius: 50px;
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .main .sec {
    color: #fff;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    color: #4c5bd4;
    width: 168px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    background: #ffffff;
    border-radius: 50px;
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .banner .banner-right {
    margin-top: 72px;
    margin-bottom: 123px;
    width: 50%;
    float: right;
    text-align: right;
  }
  /* ======================================================
      Css cho Body
      */
  .content-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .body {
    color: #474747;
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
  }
  .body .title_box {
    padding-bottom: 30px;
    margin: 0 !important;
    color: #474747;
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .body .title_box_special {
    text-transform: uppercase;
  }
  .body .href-02 {
    padding-top: 45px;
  }
  .box-01 {
    height: 583px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row-reverse;
  }
  .box-01 .left-01 {
    padding: 40px 0 0 137px;
    width: 50%;
  }
  .left-01 img {
    width: 506px;
    height: 503px;
  }
  .box-01 .right-01 {
    margin-top: 187px;
    width: 50%;
  }
  .box-01 .title_content_box1 {
    color: #474747;
    width: 75%;
    padding-bottom: 40px;
    margin: 0 !important;
  }
  .right-01 .text-01 h3 {
    margin-top: 208px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #474747;
  }
  .right-01 .text-01 h4 {
    width: 75%;
    margin-top: 33.3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
  }
  .box-02 {
    background-color: #ffffff;
    display: block;
  }
  .box-02 .text-02 {
    padding-top: 40px;
    text-align: center;
  }
  .box-02 .item {
    display: flex;
    padding: 10px 60px 40px 60px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .box-02 .item .title_item {
    color: #474747;
    font-family: "Roboto-Medium";
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 35%;
  }
  .box-02 .item .title_item_01 {
    padding: 0 60px;
  }
  .box-02 .item .title_item_02 {
    padding: 0 65px;
  }
  .box-02 .item .title_item_03 {
    padding: 0 59px;
  }
  .box-02 .item .title_item_04 {
    padding: 0 50px;
  }
  .box-02 .item .text_box {
    color: #474747;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    width: 100%;
    padding: 0px 22px;
    position: absolute;
    top: 55%;
  }
  .box-02 .item .item-01 {
    background: url(/crm/bg-item-01.png) no-repeat;
    background-size: 100% 100%;
  }
  .box-02 .item .item-child {
    width: calc(25% - 19px);
    min-height: 309px;
    position: relative;
  }
  .box-02 .item .item-02 {
    background: url(/crm/bg-item-02.png) no-repeat;
    background-size: 100% 100%;
  }
  .box-02 .item .item-03 {
    background: url(/crm/bg-item-03.png) no-repeat;
    background-size: 100% 100%;
  }
  .box-02 .item .item-04 {
    background: url(/crm/bg-item-04.png) no-repeat;
    background-size: 100% 100%;
  }
  .box-03 {
    background-color: #eeeeee;
    display: flex;
  }
  .box-03 .video {
    width: 100%;
    padding: 40px 0 40px 151px;
  }
  .box-03 iframe {
    min-width: 466px;
    min-height: 262px;
  }
  .box-03 .text-03 .title_content_box_03 {
    padding-bottom: 40px;
    margin: 0 !important;
    color: #474747;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
  }
  .box-03 .right-03 {
    width: 100%;
    padding: 40px 150px 100px 0;
  }
  .box-04 {
    background-color: #fff;
    text-align: center;
  }
  .box-04 .app {
    display: inline-flex;
    padding: 10px 0px 39px 0px;
  }
  .box-04 .store {
    display: grid;
    padding-left: 10px;
  }
  .store .icon_app {
    margin-top: 10px;
  }
  .box-04 .text-04 {
    padding-top: 40px;
  }
  .box-04 .text-04 h3 {
    color: #474747;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .box-05 {
    text-align: center;
    background-color: #eeeeee;
  }
  .box-05 .text-05 {
    padding-top: 40px;
  }
  .box-05 .text-05 h3 {
    color: #474747;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .box-05 .icon-company {
    padding: 3px 0 43px 0;
  }
  .box-05 .icon-company img {
    padding: 0 37px 0 37px;
  }
  .box-06 {
    text-align: center;
    padding: 40px 129px;
  }
  .box-06 .title_text {
    text-align: justify;
  }
  .title_text .small_title {
    color: #474747;
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
}

/* ----------------------------------------------CSS GIAO DIá»†N MÃ€N 1024----------------------------------------------------- */

@media (max-width: 1024px) {
  /*  */
  .download_app_pc {
    display: none;
  }
  .banner-left .href {
    display: block;
  }
  /* -------------------CSS CHO HEADER Cá»¦A MÃ€N 1024--------------------- */
  .banner-right {
    display: none;
  }
  .main .first {
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 212px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    background: #ffa800;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .main .sec {
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    color: #4c5bd4;
    width: 212px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    background: #ffffff;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .banner {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #4c5bd4;
  }
  .banner .banner-left {
    width: 100%;
  }
  .banner-left .href {
    padding: 0px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .banner .text-top {
    text-align: center;
    margin: auto;
    color: #fff;
    padding: 85px 0 0 0;
    width: 62%;
  }
  .text-top.title_banner {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  }
  .text-top h3 {
    padding-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;
  }
  .text-top h4 {
    width: 61%;
    padding-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    margin: auto;
  }
  /* body */
  .content-body .title_box {
    padding-bottom: 15px;
    margin: 0 !important;
    color: #474747;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .box-01 {
    height: max-content;
    flex-direction: column;
    display: flex;
    text-align: center;
    background-color: #eeeeee;
  }
  .box-01 .right-01 {
    margin: 40px 0 0 0;
    width: 100%;
  }
  .right-01 .title_content_box1 {
    padding: 0 168px;
    color: #474747;
    width: 100%;
    padding-bottom: 40px;
    margin: 0 !important;
  }
  .right-01 .href-02 {
    padding-top: 40px;
  }
  .box-01 .left-01 {
    width: 100%;
    padding: 40px 260px 40px 260px;
  }
  .left-01 img {
    width: 506px;
    height: 503px;
  }
  .box-02 {
    background-color: #ffffff;
    display: block;
  }
  .box-02 .text-02 {
    padding: 40px 0 0 0;
    text-align: center;
    color: #474747;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .box-02 .item {
    display: flex;
    padding: 25px 40px 40px 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box-02 .item h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    padding: 0px 40px;
    position: absolute;
    top: 32%;
  }
  .box-02 .item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    width: 100%;
    padding: 0px 22px;
    position: absolute;
    top: 52%;
    text-align: justify;
  }
  .box-02 .item .item-01 {
    background: url(/crm/bg-item-01.png) no-repeat;
    background-size: 100% 100%;
  }
  .box-02 .item .item-child {
    width: calc(33% - 10px);
    min-height: 309px;
    position: relative;
  }
  .box-02 .item .item-02 {
    background: url(/crm/bg-item-02.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 40px;
  }
  .box-02 .item .item-03 {
    background: url(/crm/bg-item-03.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 40px;
  }
  .box-02 .item .item-04 {
    background: url(/crm/bg-item-04.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 40px;
    margin-top: 40px;
  }
  .box-03 {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column-reverse;
  }
  .box-03 .right-03 {
    padding: 40px 0;
    width: 100%;
    text-align: center;
  }
  .right-03 .text-03 h3 {
    padding-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #474747;
  }
  .right-03 .text-03 h4 {
    text-align: center;
    width: 80%;
    padding-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    margin: auto;
  }
  .right-03 .href-02 {
    padding-top: 40px;
  }
  .box-03 .video {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 0 40px 0;
  }
  .box-03 .video iframe {
    min-height: 262px;
    min-width: 466px;
  }
  .box-03 .text-03 .title_content_box_03 {
    padding: 0 111px 40px 111px;
    text-align: center !important;
    margin: 0 !important;
    color: #474747;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .box-04 {
    text-align: center;
  }
  .box-04 .text-04 {
    padding-top: 40px;
  }
  .box-04 .app {
    padding: 25px 0 40px 0;
    justify-content: center;
    display: flex;
  }
  .app img {
    padding-right: 3%;
  }
  .app .store {
    display: grid;
  }
  .box-05 {
    text-align: center;
    background-color: #eeeeee;
  }
  .box-05 .text-05 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    width: 100%;
    padding-top: 40px;
  }
  .box-05 .icon-company {
    padding: 18px 0 43px 0;
    width: 100%;
  }
  .icon-company img {
    padding: 0 37px 33px 37px;
    width: 16.3%;
  }
  .box-06 {
    text-align: center;
    padding: 40px 97px;
  }
  .box-06 .title_text {
    text-align: justify;
  }
  .img_box_06 {
    max-width: 734px;
    max-height: 431px;
  }
  .title_text .small_title {
    color: #474747;
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
}

/* responsive 375~768 */

@media (max-width: 768px) {
  .banner-right {
    display: none;
  }
  .main .first {
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 212px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    background: #ffa800;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .main .sec {
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    color: #4c5bd4;
    width: 212px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    background: #ffffff;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .banner {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #4c5bd4;
  }
  .banner .banner-left {
    width: 100%;
  }
  .banner-left .href {
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .banner .text-top {
    text-align: center;
    margin: auto;
    color: #fff;
    padding: 131px 0 0 0;
    width: 81%;
  }
  .text-top.title_banner {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  }
  .text-top h3 {
    padding-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;
  }
  .text-top h4 {
    width: 61%;
    padding-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    margin: auto;
  }
  /* body */
  .content-body .title_box {
    padding-bottom: 10px;
    margin: 0 !important;
    color: #474747;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .box-01 {
    height: max-content;
    flex-direction: column;
    display: flex;
    text-align: center;
    background-color: #eeeeee;
  }
  .box-01 .right-01 {
    margin: 40px 0 0 0;
    width: 100%;
  }
  .right-01 .title_content_box1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding: 0 90px;
    color: #474747;
    width: 100%;
    padding-bottom: 40px;
    margin: 0 !important;
  }
  .right-01 .href-02 {
    padding-top: 40px;
  }
  .box-01 .left-01 {
    width: 100%;
    padding: 40px 131px 40px 131px;
  }
  .left-01 img {
    width: 100%;
    padding: 0 !important;
  }
  .box-02 {
    background-color: #ffffff;
    display: block;
  }
  .box-02 .text-02 {
    padding: 40px 132px 0 132px;
    text-align: center;
    color: #474747;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .box-02 .item {
    display: flex;
    padding: 30px 0px 40px 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box-02 .item h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    padding: 0px 40px;
    position: absolute;
    top: 32%;
  }
  .box-02 .item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    width: 100%;
    padding: 0px 22px;
    position: absolute;
    top: 52%;
    text-align: justify;
  }
  .box-02 .item .item-01 {
    background: url(/crm/bg-item-01.png) no-repeat;
    background-size: 100% 100%;
  }
  .box-02 .item .item-child {
    width: calc(40% - 15px);
    min-height: 350px;
    position: relative;
  }
  .box-02 .item .item-02 {
    background: url(/crm/bg-item-02.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 40px;
  }
  .box-02 .item .item-03 {
    background: url(/crm/bg-item-03.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 40px;
  }
  .box-02 .item .item-04 {
    background: url(/crm/bg-item-04.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 40px;
    margin-top: 40px;
  }
  .box-03 {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column-reverse;
  }
  .box-03 .right-03 {
    padding: 40px 0;
    width: 100%;
    text-align: center;
  }
  .right-03 .text-03 h3 {
    padding-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #474747;
  }
  .right-03 .text-03 h4 {
    text-align: center;
    width: 80%;
    padding-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    margin: auto;
  }
  .right-03 .href-02 {
    padding-top: 40px;
  }
  .box-03 .video {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 0 40px 0;
  }
  .box-03 .video iframe {
    min-height: 262px;
    min-width: 466px;
  }
  .box-03 .text-03 .title_content_box_03 {
    padding: 0 111px 40px 111px;
    text-align: center !important;
    margin: 0 !important;
    color: #474747;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .box-04 {
    text-align: center;
  }
  .box-04 .text-04 {
    padding-top: 40px;
  }
  .box-04 .app {
    padding: 30px 0 40px 0;
    justify-content: center;
    display: flex;
  }
  .app img {
    padding-right: 3%;
  }
  .app .store {
    display: grid;
  }
  .box-05 {
    text-align: center;
    background-color: #eeeeee;
  }
  .box-05 .text-05 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    width: 100%;
    padding: 40px 181px 0 181px;
  }
  .box-05 .icon-company {
    flex-wrap: wrap;
    display: flex;
    padding: 37px 0 43px 0;
    width: 100%;
  }
  .icon-company img {
    padding: 0 37px 33px 37px;
    width: 16.3%;
  }
  .box-06 {
    text-align: center;
    padding: 40px 72px;
  }
  .box-06 .title_text {
    text-align: justify;
  }
  .img_box_06 {
    max-width: 550px;
    max-height: 323px;
  }
  .title_text .small_title {
    color: #474747;
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
}

/* --------------------------------------------------------------CSS CHO MÃ€N 375-------------------------------------------------------------- */

@media (max-width: 480px) {
  .main .first {
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 212px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    background: #ffa800;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .main .sec {
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.12));
    margin: 20px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: #4c5bd4;
    width: 212px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    background: #ffffff;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .banner {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #4c5bd4;
  }
  .banner .banner-right {
    display: none;
  }
  .banner .banner-left {
    width: 100%;
  }
  .banner .text-top {
    text-align: center;
    color: #fff;
    padding: 80px 0 0 0;
    margin: auto;
    width: 100%;
  }
  .text-top .title_banner {
    margin: 0 !important;
    padding-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
  }
  .text-top .title_content_banner {
    margin: 0 !important;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    padding: 0 12px 15px 12px;
  }
  .text-top .title_content_banner_02 {
    padding: 0 12px 30px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
  }
  .banner-left .href {
    margin: 0 !important;
    padding: 0 81px 35px 81px;
  }
  .content-body .title_box {
    margin: 0 !important;
    padding-bottom: 15px;
    color: #474747;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
  }
  .box-01 {
    height: max-content;
    flex-direction: column;
    display: flex;
    text-align: center;
    background-color: #eeeeee;
  }
  .box-01 .right-01 {
    padding-top: 35px;
    margin: auto;
    width: 100%;
  }
  .right-01 .text-01 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .right-01 .text-01 .title_content_box1 {
    width: 100%;
    padding: 0 12px 25px 12px;
    color: #474747;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
  .right-01 .href-02 {
    padding-top: 10px;
  }
  .box-01 .left-01 {
    width: 100%;
    padding: 25px 0 35px 0;
  }
  .box-01 .left-01 img {
    width: 340px;
    height: 338px;
  }
  .box-02 {
    background-color: #ffffff;
    display: block;
  }
  .box-02 .text-02 {
    margin: 0 !important;
    padding: 35px 27px 0 27px;
    text-align: center;
    color: #474747;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .text-02 .title_box_02 {
    width: calc(100% - 54px);
    margin: auto;
  }
  .box-02 .item {
    display: flex;
    padding: 10px 0 25px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box-02 .item h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    padding: 0px 40px;
    position: absolute;
    top: 32%;
  }
  .box-02 .item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    width: 100%;
    padding: 0px 22px;
    position: absolute;
    top: 52%;
    text-align: justify;
  }
  .box-02 .item .item-01 {
    background: url(/crm/bg-item-01.png) no-repeat;
    background-size: 100% 100%;
  }
  .box-02 .item .item-child {
    margin: 0 !important;
    width: calc(100% - 83px);
    min-height: 313px;
    position: relative;
    margin-bottom: 40px;
  }
  .box-02 .item .item-02 {
    background: url(/crm/bg-item-02.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 40px;
  }
  .box-02 .item .item-03 {
    background: url(/crm/bg-item-03.png) no-repeat;
    background-size: 100% 100%;
  }
  .box-02 .item .item-04 {
    background: url(/crm/bg-item-04.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 40px;
  }
  .box-03 {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .box-03 .title_box_03 {
    margin: auto;
    width: calc(100% - 70px);
    color: #474747;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
  }
  .box-03 .right-03 {
    padding: 39px 0 25px 0;
    text-align: center;
    margin: auto;
  }
  .right-03 .text-03 .title_box_03 {
    width: 100%;
    padding: 0 35px 0 35px;
  }
  .right-03 .text-03 .title_content_box_03 {
    text-align: center;
    padding: 15px 12px 25px 12px;
    color: #474747;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .right-03 .href-02 {
    padding-top: 25px;
  }
  .box-03 .video {
    padding: 0px 0 34px 0;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .box-03 .video iframe {
    min-height: 191px;
    min-width: 340px;
  }
  .box-04 {
    text-align: center;
  }
  .box-04 .text-04 {
    margin: 0 !important;
    width: 100%;
    font-size: 26px;
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
    padding: 35px 66px 0 66px;
    color: #474747;
  }
  .box-04 .app {
    justify-content: center;
    padding: 10px 0 36px 0;
    display: flex;
  }
  .app img {
    padding-right: 3%;
  }
  .app .store {
    display: grid;
  }
  .box-05 {
    text-align: center;
    background-color: #eeeeee;
  }
  .box-05 .text-05 {
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    width: 100%;
    padding-top: 35px;
    margin: auto;
  }
  .text-05 .title_box_05 {
    padding: 0px 46px 0 46px;
    font-size: 26px;
    line-height: 30px;
    color: #474747;
    font-weight: bold;
  }
  .box-05 .icon-company {
    margin: auto;
    width: calc(100% - 15px);
    padding: 0px 0 34px 0;
  }
  .box-05 .icon-company img {
    padding: 42px 26px 0 26px;
  }
  .box-06 {
    text-align: center;
    padding: 35px 28px;
  }
  .box-06 .title_text {
    text-align: justify;
  }
  .img_box_06 {
    max-width: 319px;
    max-height: 187px;
  }
  .title_text .small_title {
    color: #474747;
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
}
