.ant-card-head {
  background: blue !important;
}

<<<<<<< HEAD
.header {
  padding-top: 29px;
  padding-bottom: 29px;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  position: relative;
=======
.header{
    padding-top: 29px;
    padding-bottom: 29px;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    position: relative;
>>>>>>> 1b66000 (fix ui qlc new --pvh)
}
.imagin {
  margin-right: 10px;
}
.body {
  font-size: 16px;
}
.bodyCell {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 414px) {
  .body {
    padding: 4px;
  }
}
