.buttons{
    width:100%;
    padding: 10px 30px 10px 30px;
    height: auto;
    background-color:var(--theme-color);
    .txt{
        color: var(--white-color);
    }
}
.buttons:hover{
    background-color:var(--white-color);
    .txt{
        color: var(--theme-color) !important;
    }
}
.buttons:active{
    background-color:var(--theme-color);
    .txt{
        color: rebeccapurple !important;
    }
}
.body{
    padding: 0 10px 10px 10px;
}
@media screen and (max-width:768px){
    .body{
        padding: 0px;
    }
}
@media screen and (max-width:414px) {
    .tieuDe{
        font-size: 18px !important;
    }
    .body{
        padding: 4px 0;
    }
}