.tableContent {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;
  background: rgba(243, 243, 243, 0.4);
  max-width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
}
.count_base {
  position: relative;
  z-index: 10;
  background-color: #4c5bd4;
  border-color: #fff;
  position: absolute;
  right: 27%;
  padding: 0px;
  width: 14px;
  height: 14px;
  line-height: 18px;
  font-size: 9px;
  border-radius: 50%;
  top: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.count_none {
  display: none;
}

.count_red {
  position: relative;
  z-index: 10;
  background-color: #f46a6a;
  border-color: #fff;
  position: absolute;
  right: 27%;
  padding: 0px;
  width: 14px;
  height: 14px;
  line-height: 18px;
  font-size: 9px;
  border-radius: 50%;
  top: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.count_blue {
  background-color: #4c5bd4;
}
.dayname {
  text-align: center;
  width: calc(100% / 7);
  max-width: 14.2857%;
}
.day {
  border: 1px solid #cfcfcf;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
}
.active {
  border-radius: 40px;
  border: 1px #4c5bd4 solid;
  background-color: #4c5bd4;
}

.active span {
  color: white;
}

.choose {
  border: 1px #cfcfcf solid;
  border-radius: 40px;
}

.normal {
  border: none;
  pointer-events: none;
}

.overDay {
  border: 1px #cfcfcf solid;
  border-radius: 50%;
  pointer-events: none;
}

.disable {
  border: none;
  pointer-events: none;
  color: #c4c4c4;
}
.cover {
  width: 30px;
  height: 31px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cover.circleActive {
  border: 1px #4c5bd4 solid;
}

.iconX {
  display: none;
  position: absolute;
  top: 41%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.overDay .iconX {
  display: block;
}

.dateTxt {
  z-index: 10;
  color: #474747;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.disable .dateTxt {
  color: #c4c4c4;
}

.list {
  position: relative;
  z-index: 1;
}

.list > div > div.header {
  margin-bottom: 5px;
  list-style: none;
  padding: 10px 0;
  background-color: #4c5bd4 !important;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
}
.checkbox {
  margin-right: 10px;
}
.button {
  margin-left: 50px;
  padding: 5px 20px;
  text-align: center;
  height: auto;
  background-color: #4c5bd4;
  border-radius: 12px !important;
}
.button_white {
  padding: 5px 20px;
  text-align: center;
  height: auto;
  background-color: #fff;
  border-radius: 12px !important;
  display: flex;
  align-items: center;
  border: 1px solid #4c5bd4;
}
.buttonTxt {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 136%;
}

.tableHeaderTxt {
  color: #474747;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 136%; /* 27.2px */
}

.modal {
  top: 70px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 0 !important;
  border-radius: 10px !important;
}

.deleteTxt {
  color: #474747;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
  padding-bottom: 8px;
  word-spacing: 1px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  .cancelBtn {
    height: 34px;
    border: 1px solid #4c5bd4;
    border-radius: 10px;
    width: 130px !important;
    .txt {
      color: #4c5bd4;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 136%;
    }
  }

  .okBtn {
    height: 34px;
    background-color: #4c5bd4;
    border-radius: 10px !important;
    margin-left: 20px;
    margin-inline-start: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .txt {
      color: #fff;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 136%;
    }
  }
}

.modalChecked {
  top: 70px;
  width: 274px !important;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: auto;
  height: auto;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 0 !important;
  border-radius: 10px !important;
}

.footerChecked {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  .cancelBtn {
    height: 34px;
    border: 1px solid #4c5bd4;
    border-radius: 10px;
    .txt {
      color: #4c5bd4;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 136%;
    }
  }

  .okBtn {
    height: 34px;
    background-color: #4c5bd4;
    border-radius: 10px;
    margin-left: 20px;
    margin-inline-start: 20px !important;
    width: 130px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .txt {
      color: #fff;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 136%;
    }
  }
  .okBtnModalOk {
    height: 34px;
    background-color: #4c5bd4;
    border-radius: 10px !important;
    width: 64px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .txt {
      color: #fff;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 136%;
    }
  }
}

.tableHeaderHour {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnHeaderHour {
  background-color: #4c5bd4;
  display: flex;
  height: auto;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px !important;
}

.checkCaHeaderTxt {
  color: #474747;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 136%; /* 21.76px */
  margin-top: 20px;
  margin-bottom: 5px;
}

.btnFooterShift {
  display: flex;
  padding: 5px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px !important;
  background: #4c5bd4;
}

.btnFooterCancelHour {
  display: flex;
  width: 82px;
  height: 32px;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 15px !important;
  border: 1px solid #4c5bd4;
}

.btnFooterAddHour {
  background-color: #4c5bd4;
  display: flex;
  height: 32px;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px !important;
}

.listli > li {
  margin-bottom: 10px;
  list-style: none;
  color: #474747;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%; /* 21.76px */
}

.modalTxt {
  color: #474747;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
}

.nameTxt {
  font-weight: bold;
}

.headerAlertContent {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.modalChecked.modalOkConfirm {
  width: 320px !important;
}

.modalOkConfirm .modalTxt {
  white-space: nowrap;
}

.btnFooterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.hourItem {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
  margin-bottom: 5px;
}

.hourItem:last-child {
  margin-bottom: 0;
}

.hourItem > span {
  color: #4c5bd4;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%; /* 21.76px */
}

.divider {
  margin: 10px 0 0;
}

.removeIcon {
  display: flex;
}

.removeIcon:hover {
  cursor: pointer;
}

.btnConfirmAddHour {
  margin-top: 20px;
  display: flex;
  height: 39px;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #4c5bd4;
}

.btnConfirmAddHour > span {
  color: #fff;
}


@media screen and (max-width: 1024px) {
  .count_red, .count_base {
    right: 20%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .cancelBtn {
      width: 104px !important;
    }
    .okBtn {
      width: 104px !important;
    }
  }

  .footerChecked {
    .cancelBtn {
      width: 85px !important;
    }
    .okBtn {
      width: 85px !important;
    }
  }
  .count_red,
  .count_base {
    right: 30%;
  }
}

@media screen and (max-width: 414px) {
  .dayname {
    font-size: 16px;
  }
  .buttonTxt {
    font-size: 16px;
  }

  .tableHeaderTxt {
    font-size: 18px;
  }
  .count_red,
  .count_base {
    right: 15%;
    padding: 0px;
    width: 14px;
    height: 14px;
    line-height: 18px;
    font-size: 9px;
    border-radius: 7px;
    top: 42%;
  }
}
