.th_style {
   background: #4c5bd4;
   padding-top: 15px;
   padding-bottom: 15px;
   font-weight: 500;
   font-size: 15px;
   line-height: 16px;
   color: #ffffff;
   text-align: left;
   padding-right: 40px;
}
.th_first {
   padding-left: 25px;
   padding-right: 230px;
   border-top-left-radius: 5px;
   background: #4c5bd4;
   padding-top: 15px;
   padding-bottom: 15px;
   font-weight: 500;
   font-size: 15px;
   line-height: 16px;
   color: #ffffff;
   text-align: left;
}
.td_style {
   padding-top: 18px;
   padding-bottom: 15px;
   border-top: 1px solid #ebebeb;
   border-bottom: 1px solid #ebebeb;
   text-align: left;
   color: #68798b;
   font-size: 15px;
}
.td_first {
   padding-left: 25px;
   padding-top: 18px;
   padding-bottom: 15px;
   border-left: 1px solid #ebebeb;
   border-top: 1px solid #ebebeb;
   border-bottom: 1px solid #ebebeb;
   text-align: left;
   color: #68798b;
   font-size: 15px;
}
.name {
   color: #4c5bd4;
}
.td_end {
   padding-top: 18px;
   padding-bottom: 15px;
   border-top: 1px solid #ebebeb;
   border-bottom: 1px solid #ebebeb;
   border-right: 1px solid #ebebeb;
   text-align: left;
   color: #68798b;
   font-size: 15px;
}

.table_style {
   width: 98%;
   float: left;
   border-collapse: collapse;
   margin-bottom: 15px;
   padding: 0 10px;
   margin-left: 30px;
   margin-left: 1.5%;
   margin-right: 1.5%;
}
.table_container {
   width: 98%;
   float: left;
   white-space: nowrap;
}
.information {
   width: 95%;
   margin-left: 20px;
}
.content {
   width: 95%;
   float: left;
   background: #ffffff;
   box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
   border-radius: 10px;
   float: left;
   margin-left: 2.5%;
   margin-top: 60px;
   margin-bottom: 15px;
}
.container {
   width: 83%;
}
.h3 {
   width: 100%;
   float: left;
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   color: #2e3467;
   padding-bottom: 5px;
   padding-top: 15px;
}

.select_time {
   display: flex;
   width: 97.5%;
   gap: 20px;
   justify-content: flex-end;
   padding-bottom: 40px;
}
.select_p {
   display: flex;
   align-items: center;
   gap: 10px;
}
.button {
   padding: 7px 20px;
   background: #4c5bd4;
   color: #fff;
   height: 32px;
   cursor: pointer;
   border: 1px solid #ebebeb;
   border-radius: 10px;
}
.current {
   background: #edeffb;
   text-align: left;
   padding: 15px 30px;
   font-weight: 500;
   width: 100%;
}
.export {
   float: left;
   font-weight: 500;
   font-size: 15px;
   line-height: 16px;
   color: #ffffff;
   padding: 10px 40px 10px 40px;
   margin-bottom: 50px;
   background: #4c5bd4;
   border-radius: 5px;
   border: none;
   margin-left: 30px;
   margin-top: 30px;
}
.pagination_style {
   text-align: center;
   margin: auto;
}
.search-icon {
   position: absolute;
   width: 10px;
   height: 10px;
}
.tr_style:hover {
   background: #edeffb;
}
.p_style {
   font-weight: bold;
   margin-bottom: 20px;
   font-size: 16px;
   color: #2e3467;
   margin-left: 20px;
}
.video {
   padding-top: 100px;
   padding-bottom: 70px;
   text-align: center;
}
