.offerlist_right {
  margin-left: 17px;
  width: 385px;
}

.offerlist_right_info {
  background: #fff;
  box-shadow: 1px 3px 10px #cdcdcd;
  border-radius: 15px;
}

.right_title {
  background: #4c5bd4;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 35px;
}

.right_title .infor_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto-Medium', sans-serif;
}

@media (max-width: 1366px) {
  .container_detail {
    padding: 20px 16px;
  }
}

@media (max-width: 1024px) {
  .offerlist_right {
    margin-left: 15px;
    width: 313px;
  }

  .right_title {
    padding-left: 30px;
  }

  .right_title .infor_title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .offerlist_right {
    width: 100%;
    margin: 30px 0 0;
  }

  .right_title {
    height: 50px;
  }

  .right_title .infor_title {
    font-size: 16px;
  }

  @media (max-width: 481px) {
  }
}
