.table_header_container{
    display: flex;
    background: #4c5bd4;
    border-radius: 15px 15px 0 0;
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 63px;
    width: 100%;
}
.propose_list_header_container{
    display: flex;
    background: #4c5bd4;
    border-radius: 15px 15px 0 0;
    padding-top: 28px;
    padding-bottom: 20px;
    width: 100%;
}
.propose_member_header_container{
    padding-left: 26px;
    padding-right: 28px;
    display: flex;
    background: #4c5bd4;
    border-radius: 15px 15px 0 0;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 100%;
    align-items: center;
}
.quanlymau_list_item{
    width: 23%;
    list-style: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.propose_list{
    width: calc(100% / 5);
    text-align: center;
    list-style: none;
    padding-bottom: 16px;
    color: #fff;
}
.propose_list:first-child{
    width: 5%;
}
.propose_list:nth-child(2){
    width: 56%;
}
.adsent_statistic_list{
    width: calc(100% / 5);
    text-align: center;
    list-style: none;
    padding-bottom: 16px;
    color: #fff;
}
.adsent_statistic_list:first-child{
    width: 5%;
}
.adsent_statistic_list:nth-child(2){
    width: 77%;
}
.propose_member{
    width: 25%;
    text-align: center;
    list-style: none;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-family: Roboto-Bold, sans-serif !important;
}
.propose_member:first-child{
    width: 8%;
}
.propose_member:nth-child(4){
    width: 12%;
}