.body{
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: #FFF;
}
.khungtitle{
    display: flex;
    width: 100%;
    padding: 10px 0px;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #C4C4C4;
}
.title{
    color: #474747;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 136%; /* 24.48px */
}