.header {
  margin-bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 414px) {
  .header {
    margin-bottom: 30px;
  }
  .body {
    padding: 16px;
  }
}
