.container_index {
  width: 100%;
}
.content_top {
  width: 95%;
  margin: auto;
}
.content_footer {
  width: 95%;
  margin: auto;
}
.content_center {
  width: 95%;
  margin: auto;
}
.content {
  width: 100%;
  float: left;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.times_body {
  width: 91%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 6px 15px;
  font-size: 16px;
  line-height: 19px;
  color: #777777;
  outline: 0;
  width: 100%;
  margin: auto;
}
.p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #666666;
  padding-top: 10px;
}
.times_month {
  width: 100%;
}
.time {
  display: flex;
  gap: 10px;
}
.time_element {
  flex: 1;
}
.btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #4c5bd4 !important;
  background-color: unset;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 135px !important;
  box-shadow: unset;
}
.header {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  justify-content: space-between;
  align-items: baseline;
  width: 96%;
  border-bottom: 1px dashed;
}
.text {
  display: flex;
  flex-direction: column;
  width: 60%;
  float: left;
}
.header_h3 {
  width: 60%;
  float: left;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e3467;
  border: none;
  margin-bottom: 0px;
}
.header_p {
  font-size: 14px;
  line-height: 18px;
  color: #68798b;
}
.seclected {
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal_times_body {
  display: flex;
  justify-content: space-between;
}
.modal_times {
}
.input_time {
  width: 93%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn_saves {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff !important;
  background-color: #4c5bd4;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn_cancer {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #4c5bd4 !important;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #659fe5;
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 4.5% !important;
  width: 213px !important;
}
.button_style {
  background: unset;
  border: none;
  cursor: pointer;
}
.table {
}
.table_style {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 20px;
}
.modal_add {
}
.modal_add_body {
  margin-left: 4.5%;
  margin-right: 4.5%;
  /* max-height: 450px; */
}
.modal_add_content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.render {
  display: flex;
  gap: 20px;
}
.name {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0px 0px 20px;
}
.btn_add_cancer {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #4c5bd4 !important;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #659fe5;
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 4.5% !important;
  width: 213px !important;
}
.btn_add {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff !important;
  background-color: #4c5bd4;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 4.5%;
  width: 213px !important;
}
.table_add {
}
.modal_employee {
}
.modal_employee_body {
}
.table_employee {
}
.table_employee_body {
  margin: auto;
  width: 95%;
  margin-bottom: 20px;
}
.employee_text {
  padding-left: 23px;
  padding-top: 15px;
}
.employee_h3 {
  font-size: 24px;
  line-height: 28px;
  color: #2e3467;
}
.employee_p {
  font-size: 15px;
  line-height: 18px;
  color: #68798b;
}
.modal_edit_time {
}
.edit_time_body {
  margin-left: 4.5%;
  margin-right: 4.5%;
  width: 100%;
}
.modal_edit_time_body {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.edit_time_month {
  width: 93%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn_edit_time_cancer {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #4c5bd4 !important;
  background: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  width: 135px !important;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 40px;
}
.btn_edit_save {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff !important;
  background-color: #4c5bd4;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 135px !important;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal_delete {
}
.modal_delete_body {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.btn_delete {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff !important;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 213px !important;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.information {
  display: flex;
  gap: 200px;
  line-height: 50px;
  margin-left: 22px;
  color: #666c7c;
}
.information_p {
  font-size: 15px;
}
.add_flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.information_flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin-left: 21px;
}
.name_flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fff;
}
.p_style {
  color: #4c5bd4;
}
.p_red {
  color: #f46a6a;
}
.name_button {
  float: right;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #4c5bd4;
  background: #ffffff;
  padding: 6px 15px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  margin-top: -10px;
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.name_content {
  width: 100%;
  float: left;
  background: url(/tinhluong/bg_avt.png) no-repeat;
  background-size: 100% 100%;
  height: auto;
  margin-bottom: 32px;
}
.introduce {
  background: #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 25px 10px 25px;
  margin: auto;
  color: #2e3467;
  align-items: center;
}
.p_gt {
  background: #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 8px 26px;
  margin: auto;
  color: #666c7c;
  align-items: center;
  width: 96%;
  float: left;
  font-size: 15px;
  line-height: 25px;
}
.introduce_container {
  width: 96%;
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  background: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 40px;
  padding-bottom: 10px;
}
.information_user {
  display: flex;
  justify-content: space-between;
  width: 96%;
  padding: 16px 25px 10px 0px;
  margin: auto;
  color: #2e3467;
  border-bottom: 1px dashed #666c7c;
}
.flex_input {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  justify-content: end;
}
.input_cancer {
  float: left;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #777777;
  padding: 6px 28px;
  margin-right: 10px;
}
.input_submit {
  float: left;
  background: #4c5bd4;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding: 6px 21px;
  outline: 0;
  border: 0;
}
.btn_top {
  padding-top: 20px;
}
.btn_user {
  padding-top: 20px;
  margin-left: 21px;
  width: 96%;
}
.textarea {
  width: 96%;
  margin: auto;
  color: #666c7c;
  margin-left: 21px;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 0px 0px 25px;
}
.container {
  width: 100%;
}
.themphuthuoc {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.h3_container {
  width: 60%;
  float: left;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e3467;
  border: none;
}
