.actionGroup {
  display: flex;
  align-items: center;
  justify-content: center;

  .divider {
    width: 2px;
    height: 30px;
    background-color: grey;
    margin: 0px 10px;
  }
}

.headerTxt {
  color: #fff !important;
  font-weight: 400 !important;
  text-align: center;
}
.hiddenBefore{
  display: none;
}
@media screen and (max-width:560px) {
  .hiddenBefore{
    display: block;
  }
  .hiddenAfter{
    display: none;
  }
}