.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

@media (min-width: 767px) {
  .modalClass {
    width: 600px;
  }
  .header {
    display: flex;
    padding: 16px 20px 15px 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: #4c5bd4;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .textHead {
    font-size: 20px;
    color: #fff;
  }

  .crossImage {
    position: absolute;
    right: 20px;
  }

  .body {
    font-size: 16px;
    padding: 20px;
  }
  .bodyItem {
    margin-bottom: 20px;
  }
  .Button {
    padding: 5px 50px 5px 50px;
    border-radius: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c5bd4;
    height: 35px;
    width: 130px;
    border: 1px solid #4c5bd4;
    .txt {
      color: #fff;
      font-size: 18px;
    }
  }
  .hasButton {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .ButtonWhite {
    padding: 5px 50px 5px 50px;
    border-radius: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 35px;
    width: 130px;
    border: 1px solid #4c5bd4;
    .txt {
      color: #4c5bd4;
      font-size: 18px;
    }
  }
}
@media (max-width: 767px) {
  .modalClass {
    width: 374px !important;
  }
  .header {
    display: flex;
    padding: 17px 0px;
    justify-content: space-between;
    align-items: center;
    background-color: #4c5bd4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .crossImage {
    position: absolute;
    right: 20px;
  }
  .textHead {
    font-size: 18px;
    color: #fff;
    flex: 1;
    text-align: center;
  }
  .body {
    font-size: 16px;
    padding: 20px;
  }
  .bodyItem {
    margin-bottom: 20px;
  }
  .formContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0px;
  }
  .Button {
    padding: 5px 50px 5px 50px;
    border-radius: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c5bd4;
    height: 35px;
    width: 130px;
    border: 1px solid #4c5bd4;

    .txt {
      color: #fff;
      font-size: 16px;
    }
  }
  .hasButton {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .ButtonWhite {
    padding: 5px 50px 5px 50px;
    border-radius: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 35px;
    width: 130px;
    border: 1px solid #4c5bd4;
    .txt {
      color: #4c5bd4;
      font-size: 16px;
    }
  }
}
