.table {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
}

.table th {
    background: #4C5BD4;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    padding: 7px;
    text-align: center;
}

.table thead tr th:nth-child(1),
.table thead tr th:nth-child(1),
.table tbody tr td:nth-child(1),
.table tbody tr td:nth-child(1) {
    width: 50px;
}

.table thead tr th:nth-child(2),
.table tbody tr td:nth-child(2),
.table tbody tr td:nth-child(2) {
    width: 150px;
}

.table thead tr th:nth-child(3),
.table tbody tr td:nth-child(3),
.table tbody tr td:nth-child(3) {
    width: 170px;
}

.table thead tr th:nth-child(4),
.table tbody tr td:nth-child(4),
.table tbody tr td:nth-child(4) {
    width: 200px;
}

.table thead tr th:nth-child(5),
.table tbody tr td:nth-child(5),
.table tbody tr td:nth-child(5) {
    width: 250px;
}

.table thead tr th:nth-child(6),
.table tbody tr td:nth-child(6),
.table tbody tr td:nth-child(6) {
    width: 170px;
}

.table thead tr th:nth-child(7),
.table tbody tr td:nth-child(7),
.table tbody tr td:nth-child(7) {
    width: 130px;
}

.table thead tr th:nth-child(8),
.table tbody tr td:nth-child(8),
.table tbody tr td:nth-child(8) {
    width: 180px;
}

.table thead tr th:nth-child(9),
.table tbody tr td:nth-child(9),
.table tbody tr td:nth-child(9) {
    width: 210px;
}

.table thead tr th:nth-child(10),
.table tbody tr td:nth-child(10),
.table tbody tr td:nth-child(10) {
    width: 130px;
}

.table thead tr th:nth-child(11),
.table tbody tr td:nth-child(11),
.table tbody tr td:nth-child(11) {
    width: 143px;
}

.table thead {
    width: 100%;
}

.table td {
    background-color: #fff;
    padding: 8px;
    font-size: 14px;
}

.table td p {
    font-size: 14px;
}

.table button {
    background: none;
    outline: none;
    border: none;
}

.table button:nth-child(1) {
    padding: 0 20px;
}

@media (max-width: 1024px) {
    .box_list {
        overflow-x: scroll;
        border-radius: 15px;
    }

    .frame_table {
        min-width: 1750px;
    }

    .table {

        min-width: 1224px;
    }

    .pagination {
        overflow-x: scroll;
    }
}

@media (max-width: 768px) {
    .home_main {
        padding: 20px 23px 35px 23px;
    }

    .btn_search {
        padding: 9px 18px;
    }

    .btn_search img {
        height: 18px;
    }

    .table {

        min-width: 1750px;
        ;
    }

    .pagination {
        overflow-x: scroll;
    }
}