.item {
    width: calc(100%/3 - 13px);
    background: #fff;
    padding: 20px 10px 20px 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 1px 3px 10px #cdcdcd;
    align-items: center;
    display: flex;
}

/*  */
.item2 {
    width: calc(100%/4 - 13px);
    box-shadow: 1px 3px 10px #cdcdcd;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
}

.container_item {
    display: flex;
    align-items: center;
}

.item_img img {
    width: 60px;
    height: 60px;
}

.item_info {
    padding-left: 20px
}

.item_info .num {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
}

.item_info .name {
    font-size: 16px;
    line-height: 26px;
    color: #474747;
    font-weight: bold;
}

.link_ct {
    color: #4C5BD4;
    margin: 10px 35px 0px 0px;
    display: block;
    text-align: end;
    text-decoration: none;
    position: relative;
}

.link_ct::before {
    content: url(../../../../public/icon/ct_link.png);
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: -30px;
}


.green {
    color: aquamarine;
}


@media (max-width: 1024px) {

    .item,
    .item2 {
        width: calc(50% - 10px);
    }

}

@media (max-width: 768px) {
    .item {
        width: calc(50% - 7px);
        margin-bottom: 20px;
    }

    .item2 {
        padding: 18px 10px 18px 30px;
    }
}

@media (max-width: 480px) {
    .item {
        width: calc(100%/2 - 10px);
        padding: 24px 7px;
        margin-bottom: 20px;
    }

    .item2 {
        width: 100%;
        padding: 19px 9px;
        margin-bottom: 14px;
    }

    .item_info {
        padding-left: 10px;
    }

    .item_info .num {
        font-size: 26px;
        line-height: 30px;
    }

    .item_info .name {
        font-size: 15px;
        line-height: 19px;
    }
}