.cai_dat_dx{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.container{
    width: 100%;
}
.tile_cd{
    display: flex;
    position: relative;
}
.it_title_cd{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(204, 204, 204, 0.48);
    cursor: pointer;
}
.it_title_cd_active{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(204, 204, 204, 0.48);
    cursor: pointer;
    color: #2A38A2;
}
.th_hd{
    border-radius: 100px;
    position: absolute;
    left: 20px;
    bottom: 0;
    transition: all .4s ease;
    width: 60px;
    height: 3px;
    background-color: #2A38A2;
}
.view_hiden_caidat{
    margin-top: 20px;
}
.wapper_caidatchung{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.wapper_chung{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.setting_tb{

}
.setting_nn{
    padding: 20px;
}
.title_cdc_st{
    background: #4C5BD4;
    border-radius: 10px 10px 0px 0px;
    padding: 16px 20px 15px 20px;
}
.title_cdc_st > p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: white;
}
.wapper_tb{
    padding: 19px 20px 0px;
}
.tb_text{
    padding-bottom: 15px;
}
.tb_text > p {
    font-size: 18px;
    line-height: 21px;
    font-weight: 550;
    color: #474747;
}
.tb_img{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 25px;
}
.switch_area{
    margin-top: 15px;
}
.switch {
    position: relative;
    width: 50px;
    height: 25px;
    display: inline-block;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.25s;
    border-radius: 25px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.25s;
    border-radius: 50%;
}
.switch_input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch_input:checked + .slider {
    background: #76B51B;
}
.switch_input:checked + .slider:before {
    transform: translateX(25px);
}
.switchContainer {
    display: flex;
    align-items: center;
}
  
.switchLabel {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #474747;
    margin-left: 15px;
    cursor: pointer;
}
  
.switchWrapper {
    display: flex;
    align-items: center;
}
.nn_text{
    margin-bottom: 13px;
}
.nn_text > p {
    font-size: 18px;
    line-height: 21px;
    font-weight: 550;
    color: #474747;
}
.lang_list{
    display: flex;
    margin-left: -43px;
    margin-right: -43px;
}
.item_lang{
    display: flex;
    align-items: center;
    width: calc(20% - 86px);
    margin-left: 43px;
    margin-right: 43px;
}
.lang_radio{
    width: 16px;
}
.lang_label{
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.lang_label_text{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 5px;
}
.wapper_heading{
    background-color: #4C5BD4;
    border-radius: 10px 10px 0px 0px;
    padding: 16px 20px 15px;
}
.wapper_heading > p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: white;
}
.wapper_content{
    padding: 20px;
}
.wapper_content_item + .wapper_content_item {
    margin-top: 20px;
}
.wapper_content_item {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
}
.wapper_content_item > h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 550;
    color: #474747;
}
.wapper_content_item > p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 5px;
    color: #474747;
}
.viewOption{
    margin-top: 14px;
    transition: all .4s ease;
}
.atl_list_label{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.atl_list_label_text{
    color: #4C5BD4;
    font-size: 16px;
    line-height: 19px;
    font-weight: 550;
    margin: 0;
}
.pick_member{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.pick_member_text{
    margin: 0 5px;
    color: #4C5BD4;
    font-size: 14px;
    line-height: 16px;
    font-weight: 550;
}
.member_table{
    margin-top: 15px;
    position: relative;
}
.box_main_member_table{
    width: 100%;
    border: 1px solid #CCCCCC;
    max-height: 428px;
    overflow: auto;
}
.table{
    width: 100%;
    border-collapse: collapse;
    background: #FFFFFF;
}
table.table tbody tr {
    border-bottom: 1px solid #CCCCCC;
}
table.table thead tr th {
    border-bottom: 1px solid #CCCCCC;
    background: #F7F8FD;
    color: #474747;
    position: relative;
    text-align: center;
    padding: 14px 11px 13px;
    font-weight: 500;
    white-space: nowrap;
    font-size: 15px;
    line-height: 18px;
}
table.table thead tr th+th, table.table tbody tr td+td {
    border-left: 1px solid #CCCCCC;
}
table.table tbody tr td {
    height: 50px;
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: var(--text-md);
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
table.table thead tr th+th, table.table tbody tr td+td {
    border-left: 1px solid #CCCCCC;
}
.stt_nv{
    width: 8%;
    border-right: 0.5px solid #666666;
}
.id_user{
    width: 34%;
    border-right: 0.5px solid #666666;
}
.user_name{
    width: 25%;
    border-right: 0.5px solid #666666;
}
.pos{
    width: 25%;
    border-right: 0.5px solid #666666;
}
.departure{
    width: 8%;
    border-right: 0.5px solid #666666;
}
.func{
    border-right: 0.5px solid #666666;
    border-left: 1px solid #CCCCCC;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(51 51 51 / 14%);
    z-index: 9999;
}
.main_popup{
    background-color: white;
    box-shadow: 0px 0px 10px 0px #0000001A;
    border-radius: 10px;
    width: 50%;
}
.heading_popup{
    background: #4C5BD4;
    color: white;
    padding: 15px 15px 14px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading_popup_title{
    line-height: 21px;
    font-weight: 700;
    flex: 1;
    text-align: center;
}
.close_popup{
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.content_popup{
    overflow-y: auto;
}
.scroll_popup{}
.table_btn{
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: center;
}
.popup_filter{
    padding: 20px;
}
.popup_table{
    margin-top: 14px;
}
.popup_filter_departure{
    display: flex;
    height: 36px;
    box-shadow: 0px 0px 10px 0px #0000001A;
    border-radius: 10px;   
}
.popup_filter_member{
    display: flex;
    align-items: center;
    border: 1px solid #CCCCCC;
    margin-top: 20px;
    height: 36px;
    box-shadow: 0px 0px 10px 0px #0000001A;
    border-radius: 10px;
}
.popup_main_table{
    margin-top: 15px;
    position: relative;
}
.popup_box_main_table{
    width: 100%;
    border: 1px solid #CCCCCC;
    max-height: 280px;
    overflow: auto;
}
.tb_th_blue{
    position: relative;
}
.tb_th_blue > th {
    background-color: #4C5BD4 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    color: white !important;
}
.checkall{
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.popup_table_row{
    width: 100%;
    text-align: center;
    border-bottom: none;
    display: table-row;
}
.cancel_btn{
    background: none;
    color: #4C5BD4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    font-weight: 550;
    border-radius: 6px;
    padding: 8px;
    width: 140px;
    border: 1px solid #4C5BD4;
}
.confirm_btn{
    border: none;
    background: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background-color: #4C5BD4;
    font-size: 15px;
    line-height: 18px;
    font-weight: 550;
    border-radius: 6px;
    padding: 8px;
    margin-left: 68px;
    width: 140px;
}
.plan_propose_time_label{
    color: #474747;
    line-height: 19px;
    font-weight: 550;
}
.font_w400{
    font-weight: 400;
}
.plan_propose_time_input_area{
    background-color: #F7F8FD;
    border: 1px solid #CCCCCC;
    margin-top: 5px;
    width: 40%;
    height: 45px;
    position: relative;
}
.plan_propose_time_input{
    border: none;
    outline: none;
    background-color: transparent;
    color: #666666;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 11px;
}
.dv_h{
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    transform: translateY(-50%);
}
.update_btn{
    padding: 13px 38px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    background-color: #4C5BD4;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 15px;
    color: white;
    border: none;
}
.update_btn_2{
    padding: 13px 38px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    background-color: #4C5BD4;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    border: none;
}
.plan_propose_time_description{
    color: #474747;
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.plan_propose_time_description_2{
    color: #474747;
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.plan_propose_time_description_red{
    color: #FF3333;
    font-weight: 550;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 15px;
}
.col_2{
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.input_label_top{
    font-weight: 550;
    line-height: 19px;
    font-size: 16px;
    color: #474747;
}
.input_label_bot{
    font-weight: 550;
    line-height: 19px;
    font-size: 16px;
    margin-top: 10px;
    color: #474747;
    display: block;
}
.sudden_propose_time_description{
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    margin-top: 20px;
    color: #474747;
}
.sudden_propose_time_description:nth-child(2){
    margin-top: 10px;
}
.font_w550{
    font-weight: 550;
}
.txt_hd_del3{
    border-radius: 5px;
    border: 1px solid #FF4942;
    padding: auto;
    font-size: 16px;
    color: #FF4942;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    text-align: center;
    height: 20px;
    width: 40px;
    margin: 0px 10px 10px;
}
.del_box{
    display: inline;
    color: red;
    cursor: pointer;
    font-weight: bold
}
.toast_cotainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(51 51 51 / 14%);
    z-index: 9999;
}
.toast_main{
    background-color: white;
    box-shadow: 0px 0px 10px 0px #0000001A;
    border-radius: 10px;
    width: 50%;
}
@media (max-width: 900px) {
    .col_2{
        width: 100%;
    }
    .plan_propose_time_input_area{
        width: 100%;
    }
    .main_popup{
        width: 100%;
    }
    .atl_list_label{
        flex-direction: column;
    }
    .pick_member{
        margin-top: 10px;
    }
}