.idx_ttnv {
    flex: 1;
    background: #f7f8fc;
    padding-bottom: 70px;
    min-height: 100vh;
}

.part_tax {
    width: 95%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 30px;
}

.tax_one {
    width: 100%;
    float: right;
    margin-bottom: 20px;
    position: relative;
}

.rew_ct_tow {
    float: right;
    text-align: left;
}

.select2 {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: auto;
    margin-right: 10px;
    margin-bottom: 15px;
}

.rew_ct_tow>p {
    float: right;
    text-align: right;
    padding: 9px 20px 8px 45px;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #ffffff;
    background-color: #4c5bd4;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    background-image: url(/tab_one.png);
    background-repeat: no-repeat;
    background-position: 15px 12px;
    margin-right: 5px;
}

.rew_ct_tow>p>span {
    position: relative;
    color: white;
}

.youtube_tong {
    float: left;
    width: 100%;
    max-width: 20px 0;
    text-align: center;
}

.youtube {
    float: left;
    width: 100%;
    max-width: 20px 0;
    text-align: center;
}

.video_hd {
    float: left;
    width: 33.3%;
    padding: 0 15px;
    border-radius: 37px;
}

.tax_tow {
    width: 100%;
    float: left;
    border-bottom: 1px solid #d4e2f3;
    overflow-x: auto;
}

.tax_tow>p {
    float: left;
    margin-right: 35px;
    font-size: 16px;
    line-height: 19px;
    color: #68798b;
    cursor: pointer;
}

.active {
    font-weight: 500;
    color: #f46a6a !important;
    border-bottom: 2px solid #f46a6a;
    padding-bottom: 10px;
}

.tax_three {
    width: 100%;
    float: left;
    margin-top: 40px;
}