.home_main {
    padding: 30px 30px 50px 30px;
}

.box_title_header {
    padding: 12px 17px 12px 17px;
    background: #4C5BD4;
    cursor: pointer;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box_title_header img {
    object-fit: cover;
    margin-top: -1.5px;
    margin-right: 20px
}

.title_header {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.body_detail {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 0px 6px 6px 6px;
}

.box_search {
    width: 100%;
    padding: 9px 36px 9px 18px;
}

.list_choose_search {
    display: flex;
    justify-content: space-between;
}

.list_left {
    width: 67%;
    display: flex;
    justify-content: flex-start;
}

.menu1 {
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.menu2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

.btn_del_check {
    width: 135px;
    border-radius: 6px;
    margin-left: 15px;
    padding: 8px 0px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn_del_kp {
    border-radius: 6px;
    margin-left: 15px;
    padding: 8px 0px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 135px;
}

.btn_huy {
    color: #4C5BD4;
    background: #ffffff;
    border: 1px solid #4C5BD4;
}

.btn_del_xoa {
    border-radius: 6px;
    margin-left: 15px;
    padding: 8px 0px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
    background: #4C5BD4;
    color: #ffffff;
    border: 1px solid #4C5BD4;
    width: 135px;
}

.list_right {
    position: relative;
    width: 33%;
}

.list_right input {
    width: 100%;
    padding: 9px 25px 9px 16px;
    background: #FFFFFF;
    border: 1px solid #474747;
    border-radius: 15px;
    color: #999999;
    font-size: 16px;
    line-height: 19px;
    outline: 0px;
}

.sp_del_search::before {
    content: "";
    background: url(../../../../../public/icon/management_dispatch/img_l6.png);
    height: 18.71px;
    width: 18.71px;
    position: absolute;
    top: 9px;
    right: 10px;
    cursor: pointer;
}

/*End  Header */
/* Start list top */
.table_list_del {
    min-height: 100%;
}

.row_table_list {
    width: 100%;
}

.thead_del {
    padding: 11px 1.5%;
    position: relative;
    background: #E4E4E4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title_table {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 18px;
    line-height: 19px;
    color: #474747;
}

.thead_del img {
    margin-left: 20px;
    object-fit: cover;
}

.body_del {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0px 20px;
}

.body_del2 {
    padding: 0;
}

.list_item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border-bottom: 1px dashed #999999;
    padding: 20px;
}

.thead_del_2 {
    display: block;
    padding: 10px 1.5%;
    background: #E4E4E4;
}

.div_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.div_info p {
    color: #474747;
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto-Bold", sans-serif;
    display: flex;
    justify-content: center;
}

.item_name {
    font-family: "Roboto-Medium", sans-serif;
    color: #4C5BD4;
    line-height: 19px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    font-size: 16px;
}

.item_name_company {
    color: #FFA800;
}

.d_none {
    display: none;
}

.d_block {
    display: block;
}

/*  */
.item_bot {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100%/3 - 10px);
    background: #ffffff;
    box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 9px 14px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.addBackGroundXam {
    background-color: #E4E4E4;
}

.title_class {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    color: #4C5BD4;
    font-size: 16px;
    font-family: "Roboto-Medium", sans-serif;
}

.item_bot p {
    padding: 3px;
}