.idx_ttnv {
  flex: 1;
  background: #f7f8fc;
  padding-bottom: 70px;
  min-height: 100vh;
}

.part_hps {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 60px;
}
.part_ift_one {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
.ift_fl {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.ift_hl {
  width: 100%;
  float: left;
}
.fl_hl {
  width: 50%;
  float: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #2e3467;
  text-align: left;
  text-transform: capitalize;
}
.fl_pr {
  width: 50%;
  float: left;
  text-align: right;
}
.fl_pr > a {
  float: right;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #4c5bd4;
}
.fl_pr > a > span {
  text-align: right;
  padding-right: 10px;
  line-height: 18px;
}
.fl_pr > a > span > img {
  width: 17px;
  height: 14px;
  background-size: 100% 100%;
}
.ift_hl_part_one {
  width: 22.75%;
  float: left;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
  border-radius: 10px;
  padding: 18px 24px;
  outline: 0;
  margin-right: 15px;
}
.hl_std {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 1px;
}
.hl_nb {
  width: 100%;
  float: left;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: #666c7c;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.part_prl_bg {
  width: 100%;
  float: left;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
  border-radius: 10px;
}
.prl_one {
  margin-top: 25px;
  margin-bottom: 20px;
}
.prl_part_one {
  float: left;
  text-align: left;
  width: 35%;
}
.prl_part_one > h3 {
  width: 100%;
  float: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #2e3467;
  margin-bottom: 3px;
  position: relative;
}
.custom_calendar_container {
  width: 100%;
  overflow-x: auto;
}

.prl_tow {
  width: 96%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  /* width: 1680px; */
}
.calendar {
  width: 100%;
  float: left;
  border-collapse: collapse;
}
.calendar > tr > td {
  text-align: center;
  padding: 36px 8px 10px;
  border: 1px solid #bbbbbb;
  position: relative;
  height: 110px;
}
.header {
  background: #4c5bd4;
  padding-top: 12px;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  width: calc(100% / 7);
  min-width: 150px;
}
.cols {
  background: #ffffff;
}

.days {
  width: 140px !important;
}

.day_first_th {
  position: absolute;
  top: 10px;
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #989898;
}
.days_chung_du_stf {
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #68798b;
  text-align: right;
  margin: 0px auto;
  padding: 6px 9px;
  margin-bottom: 8px;
  width: 120px;
  background: #d0eae7;
  position: relative;
}
.thong_ke {
  float: left;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  background: #edeffb;
  border: 2px solid #bbbbbb;
  border-top: none;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 20px;
  padding: 15px 34px;
}
.tk_tong {
  float: left;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2e3467;
  margin-right: 55px;
}
.tk_muon_som {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2e3467;
}
.centeredCalendar .ant-picker-calendar-date .ant-picker-calendar-date-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.border_list {
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #68798b;
  text-align: right;
  margin: 0px auto;
  padding: 6px 9px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 650px) {
  .custom_calendar_container {
    width: 100%;
    overflow-x: auto;
  }

  .prl_tow {
    /* width: 96%; */
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 1200px;
  }
}
