/** @format */

.sidebar {
  width: 320px;
  background-color: #4d5cd4;
  color: #ffffff;
  height: 100%;
  &.sb_narrow {
    width: 82px !important;
    .btn_narrow_extend {
      left: 59px;
    }
    .list {
      .title {
        display: block !important;
        text-align: center;
      }
      .item {
        display: block !important;
        .item_img_text {
          display: block !important;
          text-align: center;
          .text {
            color: #fff;
          }
        }
      }
      .item_register,
      .item_login,
      .item_app {
        display: none !important;
      }
    }
  }
  .btn_narrow_extend {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    border-radius: 30px;
    background-color: #616fe0;
    top: 570px;
    left: 298px;
    cursor: pointer;
  }
  .logo {
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
  }
  .list {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .title {
      padding: 11px;
      background-color: #fff;
      border-radius: 8px;
      gap: 11px;
      display: flex;
      align-items: center;
      .item_register,
      .item_login,
      .item_app {
        display: none !important;
      }
      .text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #4c5bd4;
      }
    }
    .item {
      padding: 11px;
      border-radius: 8px;
      gap: 11px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
    .item_register,
    .item_login,
    .item_app {
      display: none !important;
    }
    .item_img_text {
      display: flex;
      align-items: center;
      gap: 10px;
      .text {
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .sidebar {
    margin-top: 74px;
    width: 100% !important;
    .btn_narrow_extend {
      display: none;
    }
    .logo {
      display: none;
    }

    .list {
      padding: 0;
      gap: 0;
      .title {
        display: none;
      }

      .item {
        border: 1px solid #fff;
        margin: 0;
        border-radius: 0;
      }
      .item_register,
      .item_login,
      .item_app {
        display: block !important;
      }
    }
  }
}
