.home_main {
    padding: 30px 30px 50px 30px;
}

/* .box_input */
.box_input {
    display: flex;
    justify-content: space-between;
}

.control_add {
    display: flex;
    justify-content: flex-end;
}

.control {
    margin-left: -10px;
    margin-right: -10px;
}

/* btn search */
.btn_search {
    padding: 9px 25px;
    border-radius: 6px;
    color: #ffffff;
    background: #4C5BD4;
    border: 1px solid #4C5BD4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* table */
.box_list {
    background: #ffffff;
    border-radius: 15px;
    padding-bottom: 15px;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 15px;
}

.frame_table {
    min-width: 100%;
    overflow-y: auto;
    max-height: 720px;
}

.box_list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.box_list::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 6px;
}

@media (max-width: 1024px) {
    .box_list {
        overflow-x: scroll;
        border-radius: 15px;
    }

    .frame_table {
        min-width: 120%;
    }
}

@media (max-width: 768px) {
    .home_main {
        padding: 20px 23px 35px 23px;
    }

    .btn_search {
        padding: 9px 18px;
    }

    .btn_search img {
        height: 18px;
    }
}

@media (max-width: 480px) {
    .home-main {
        padding: 15px 15px 35px 15px;
    }

    .control>.box_input {
        flex-wrap: wrap;
    }

    .btn_search {
        width: 100%;
    }
}

.paginate {
    display: flex;
    justify-content: center;
    list-style: none;
}



.paginate .li_navi a {
    padding: 4px 8px;
    border: 1px solid #ccc;
}