.header_hps_res {
  display: none;
}
@media (max-width: 1024px) {
  .header_hps_res {
    width: 100%;
    float: left;
    background: #4c5bd4;
    height: 70px;
    display: block;
    position: relative;
  }
  .hps_res_menu {
    width: 20%;
    float: left;
  }

  .hps_res_lg {
    width: 60%;
    float: left;
    text-align: center;
    padding: 19px 0;
  }

  .hps_res_nfct {
    width: 20%;
    float: left;
    text-align: right;
    padding: 22px 24px 0px 0px;
  }

  .img1 {
    object-fit: cover;
  }
  .count_tb {
    position: absolute;
    float: right;
    background: #ff4d43;
    border-radius: 50%;
    padding: 2px 2px;
    top: 10px;
    right: 20px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    width: 18px;
    height: 18px;
  }
  .modal_hd_pus {
    width: 93%;
    float: left;
    margin-right: 3.5%;
    margin-left: 3.5%;
  }
  .hps_part_one {
    width: 100%;
    float: left;
  }
  .menu_avt {
    width: 100%;
    float: left;
    padding-bottom: 14px;
    border-bottom: 1px solid #d4e2f3;
    text-align: left;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
  }
  .menu_avt > img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
  }
  .menu_avt > h4 {
    float: left;
    font-weight: 500;
    font-size: 15px;
    line-height: 37px;
    color: #2e3467;
    margin-left: 10px;
  }
  .hps_part_three {
  }
  .hps_part_three > h3 {
    width: 100%;
    float: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #2e3467;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .hps_nav {
    width: 100%;
    float: left;
  }
  .hps_nav > ul {
    width: 100%;
    float: left;
    position: relative;
  }
  .hps_nav > ul > li {
    width: 100%;
    float: left;
    list-style-type: none;
    cursor: pointer;
  }
  .hps_icon {
    width: 100%;
    float: left;
    position: relative;
  }
  .hps_icon > svg {
    float: left;
    position: absolute;
    left: 15px;
    top: 10px;
  }
  .hps_icon > a {
    width: 100%;
    float: left;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #68798b;
    padding: 11px 0px 11px 50px;
    color: #4c5bd4;
  }
  .ifr_nfct {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(55, 63, 255, 0.1);
    border-radius: 10px;
    float: right;
    top: 55px;
    right: 10px;
    width: 50%;
    z-index: 9;
  }
  .nfct_rea {
    width: 100%;
    float: left;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #5e5e5e;
    padding: 10px;
  }
  .del_all_tb {
    cursor: pointer;
  }
}
