.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 20px;
  background-color: #4c5bd4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.textHead {
  font-size: 20px;
  color: #fff;
}
.body {
  padding: 20px;
}
.nameCT {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #9f9f9f;
}
@media screen and (max-width: 480px) {
  .textHead {
    font-size: 18px;
  }
}
