.singleBtn {
  margin-bottom: 27px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  .indexWithBorder {
    width: 71px;
    height: 71px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    .index {
      font-size: 24px;
    }
  }

  .rightDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    .verticalDivider {
      background-color: #717b7f;
      margin-right: 15px;
      width: 2px;
      height: 60%;
    }
  }
}

.singleStep {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0px;

  .roundIndex {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 14px;
    background-color: var(--theme-color);

    .index {
      font-size: 24px;
      color: var(--white-color);
    }
  }

  .title {
    font-size: 20px;
  }

  .circleExplain {
    width: 35px;
    height: 35px;
    border: 1px solid var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 20px;

    .text {
      font-size: 30px;
      color: #ff5b4d;
    }
  }
}

.headerText {
  font-size: 30px;
  margin-bottom: 30px;
}

.indexWrapper {
  border: 2px solid lightgrey;
  padding: 10px 15px;
  border-radius: 10px;
}

/* responsive */
@media screen and (max-width: 1210px) {
  .singleBtn {
    .title {
      margin-left: 20px;
    }
  }
}
