.home_main {
    padding: 30px 30px 50px 30px;
}

.box_detail_content {
    display: flex;
    justify-content: space-between;
}

.col_detail_vb_left {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 3px 10px #CDCDCD;
    width: calc(68% - 10px);
}

.list_header {
    border-bottom: 1px solid rgba(71, 71, 71, 0.5);
}

.title_header {
    padding: 12px 17px 12px 17px;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
}

.title_header img {
    margin-top: -1.5px;
    margin-right: 20px;
    object-fit: cover;
}

.title_header .title_list {
    font-size: 18px;
    line-height: 21px;
    color: #474747;
    font-family: "Roboto-Medium", sans-serif;
}

.img_edit {
    position: absolute;
    top: 12px;
    right: 30px;
}

.img_del {
    position: absolute;
    top: 12px;
    right: 0px;
}

.list_li {
    list-style: none;
}

.list_li li {
    margin: 20px;
}

.main_right {
    padding: 15px 20px 40px 20px
}

.recipients {
    padding: 20px 0px;
    border-bottom: 1px solid rgba(71, 71, 71, 0.3);
}

.recipients>p {
    font-size: 16px;
    font-family: "Roboto-Medium", sans-serif;
    line-height: 19px;
    margin-bottom: 15px;
    color: #474747;
}

@media (max-width: 768px) {
    .box_detail_content {
        flex-wrap: wrap;
    }
    .col_detail_vb_left{
        width: 100%;
    }
    .title_header .title_list{
        font-size: 16px;
    }
    .title_header img{
        margin-right: 6px;
    }
}