.body_general_management {
  width: 100%;
  height: 100vh;
  padding: 40px 60px;
  background-color: #ebeef5;
}
.body_general_management::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.body_general_management::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 6px;
}
.container{

}
.box{
    padding: 40px 60px;
}
.tab_content{
    background: #fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
}
.tab_items{

}
.link_record{
    color: #474747;
    text-decoration: none;
}
.tab_infor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 26px;
    padding-top: 29px;
    border-bottom: 1px dashed #999999;
}
.infor_name{
    width: 50%;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
}
.infor_name span {
    font-weight: 400;
    font-size: 16px;
}
.infor_date{
    color: #474747;
    width: 15%;
    justify-content: center;
    text-align: center;
}
.infor_btn{
    display: flex;
    width: 15%;
    justify-content: center;
}
.filter_area_box{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 15px 20px;
    background: #fff;
    margin-bottom: 20px;
}
.filter_area_list:first-child{
    margin-bottom: 15px;
}
.filter_area_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.filter_area_24{
    width: 24%;
    height: 40px;
    overflow: visible!important;
}
.top_btn{
    position: relative;
    background-color: #4c5bd4;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    justify-content: center;
    padding-left: 10px;
}
.search_icon{
    left: 30%;
    position: absolute;
}
.incoming_doc_table {
  width: 100%;
  height: auto;
  margin-top: 30px;
  border-radius: 15px 15px 0px 0px;
}

.table {
  width: 100%;
  display: block;
}

.table .table_row {
  clear: both;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.table .row_color {
  color: #474747;
  background-color: #fff;
  font-size: 14px;
  height: 85px;
}

.table .table_top {
  background-color: #4c5bd4;
  height: 85px;
  color: #fff;
  border-radius: 15px 15px 0px 0px;
}

.table .table_element {
  position: relative;
  width: 100%;
  margin: 0px 5px;
  font-size: 16px;
  text-align: center;
}

.table_filter_box {
  display: flex;
  background: rgba(76, 91, 212, 0.9);
  border-radius: 15px 15px 0 0;
}

.table_btn_filter {
  width: calc(100% / 5);
  text-align: center;
  padding-top: 28px;
  padding-bottom: 36px;
  list-style: none;
}

.table_btn_text {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 10px;
}

.table_btn_text_active {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
}

.size_16 {
  font-size: 16px;
}

.table_row .size_14 {
  font-size: 14px;
}

.text_xanh_kochan {
  color: #4c5bd4;
}

.congty {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.table_btn {
  border: none;
  outline: none;
  background-color: #fff;
}

.table_btn img {
  /* width: 100%;
  height: 100%; */
  object-fit: contain
}

.tab_content {
  background: #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 84px 40px;
}

.tab_infor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(71, 71, 71, 0.31);
  padding-bottom: 26px;
  padding-top: 29px;
}

.tab_infor .infor_name {
  width: 50%;
  font-weight: 600;
  font-size: 16px;
}

.infor_name span {
  font-weight: 400;
  font-size: 16px;
}

.tab_infor .infor_btn {
  width: 250px;
  display: flex;
}

.tab_infor .div_img {
  width: 10px;
  height: 10px;
  margin-right: 5px
}

.tab_infor .div_img img {
  width: 100%;
  height: 100%;
}

.tab_infor .infor_date {
  text-align: right;
  width: 100px;
}
.day_top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.incoming_text_top_input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 30px;
  border-right: 1px solid rgba(71, 71, 71, 0.38);
  font-size: 16px;
  caret-color: transparent;
}
.incoming_text_top_selectList{
  border: none;
  outline: none;
  width: 100%;
  padding-left: 8px;
  font-size: 15px;
  caret-color: transparent;
  overflow: visible !important;
  white-space: nowrap;
  display: inline-block;
}
.incoming_text_top_input:first-child {
  caret-color: auto;
}

.incoming_text_top {
  width: 20%;
  height: 48px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.incoming_text_top_btn {
  width: 14%;
}

.incoming_text_top_btn .btn_search {
  position: relative;
  background-color: #4c5bd4;
  border: none;
  outline: none;
  width: 154px;
  height: 48px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding-left: 20px;
}

.incoming_text_top_btn .btn_img {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 25px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .incoming_text_top_input {
      font-size: 14px;
  }

  .show {
      width: 110%;
  }

  .search_box .search_item {
      width: 115%;
  }

  .active_search_element {
      background-position: 10% 50%;
  }

}

@media (max-width: 768px) {

  .incoming_text_top_input,
  .search_choose,
  .incoming_text_top_select .btn_select {
      font-size: 14px;
  }

  .show {
      width: 140%;
  }

  .search_box .search_item {
      width: 120%;
  }

  .active_search_element {
      background-size: 14px 14px;
      background-position: 8% 50%;
  }
}

@media (max-width: 481px) {
  .incoming_text_top_input {
      padding-left: 6px;
      font-size: 12px;
  }

  .incoming_text_top_select {
      width: 30%;
  }

  .incoming_text_top_select .btn_select {
      font-size: 14px;
  }

  .incoming_text_top_select .img_select {
      right: 10px;
  }

  .incoming_text_top_select .btn_select,
  .search_choose {
      font-size: 12px;
  }

  .incoming_text_top_btn .btn_search {
      width: 100%;
  }

  .incoming_text_top_btn .btn_img {
      top: 18px;
      left: 15px;
  }

  .incoming_text_top_btn span {
      display: none;
  }



  .active_search_element {
      background-size: 12px 12px;
      background-position: 8% 50%;
  }
}
@media (max-width: 768px) {
  .incoming_doc_table {
      overflow-x: scroll;
  }

  .incoming_doc_table::-webkit-scrollbar {
      width: 12px;
      height: 12px;
  }

  /* Handle */
  .incoming_doc_table::-webkit-scrollbar-thumb {
      background: #b7b7b7;
      border-radius: 6px;
  }

  .table {
      width: 1000px;
      padding-right: 40px;
  }

  .table .table_top {
      height: 70px;
  }

  .table .table_element {
      font-size: 14px;
  }

}
@media (max-width: 900px) {
    .box{
        padding: 40px 20px;
    }
    .list_tab{
        width: 1053px;
    }
    .box_list{
        width: 100%;
        overflow-x: scroll;
    }
    .filter_area_list{
        flex-direction: column;
    }
    .filter_area_24{
        width: 100%;
        overflow: visible!important;
    }
    .day_top{
      flex-direction: column;
  }
}

@media (max-width: 900px) {
  .body_general_management {
    padding: 0;
  }
}/*# sourceMappingURL=my_send.module.css.map */