.input_select {
    margin-top: 10px;
    width: 100%;
}


.khoixetduyet {
    justify-content: space-between;
    margin-top: 20px;
    display: flex !important;
}

.khoixetduyet_2 {
    width: 100%;
    position: relative;
    align-items: center;
    display: flex !important;
    flex-direction: row;
}

.xetduyet_select {
    width: calc(100% - 150px);
    height: 38px;
    padding-left: 10px;
    border-radius: 5px;
    appearance: none;
    outline: none;
    font-size: 15px;
    color: #474747;
    margin-left: 10px;
    padding: 10px;
    background-color: unset;
}

.xetduyet_option {
    color: #474747;
    text-decoration: none;
}

.xetduyet_arrow_icon {
    position: absolute;
    right: 10px;
    width: 13px;
    top: 11px;
    height: 15px;
    z-index: 100;
    object-fit: contain;
}
.setting_filter_area{
    width: 100%;
}
.options_container{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    align-items: center;
    display: flex;
}
.options_container:hover{
    background-color: #429cf0;
    color: white;
}
@media (max-width: 900px) {
    .khoixetduyet_2 {
        width: 100%;
        align-items: normal;
        flex-direction: column;
    }

    .xetduyet_select {
        width: 100%;
        background-color: unset;
        margin-left: 0;
        margin-top: 20px;
    }

    .xetduyet_arrow_icon {
        top: 50px;
    }
}

/* Modal */
.form_input_select_modal {
    margin-top: 0px;
}

.form_input_select_modal2 {
    margin-top: 10px;
}